AI_powered_ad_creative_generation_.json
{
  "name": "AI-powered ad creative generation.",
  "nodes": [
    {
      "parameters": {
        "path": "058f7629-cb95-42fc-bf2d-5411dbf3d958",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        460,
        -420
      ],
      "id": "375bb1de-4818-47b2-8402-c15bc16377da",
      "name": "Webhook",
      "webhookId": "058f7629-cb95-42fc-bf2d-5411dbf3d958"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=## Core Objective\nAnalyze the provided ad creative with enterprise-level precision to extract actionable design principles, psychological triggers, and conversion optimization elements. Create a comprehensive template for AI-generated ad campaigns that maintains universal applicability while identifying platform-specific optimization opportunities.\n\n## Analysis Framework\n\n### 1. Visual Hierarchy & Layout Architecture\n- **Primary Focal Point**: Identify the main visual anchor and its positioning using golden ratio/rule of thirds analysis\n- **Secondary Elements**: Map supporting visual elements and their hierarchical relationships\n- **Eye Movement Flow**: Document the intended visual path through the creative (Z-pattern, F-pattern, circular flow)\n- **Information Layering**: Analyze content prioritization and progressive disclosure techniques\n- **Negative Space Usage**: Evaluate white space distribution and breathing room effectiveness\n- **Grid System**: Identify underlying structural framework and proportional relationships\n\n### 2. Foreground, Midground, Background Breakdown\n- **Foreground Elements**: Primary subject, hero product, main CTA, dominant text elements\n- **Midground Components**: Supporting graphics, secondary products, descriptive text, social proof elements\n- **Background Treatment**: Environmental context, texture overlays, gradient applications, pattern usage\n- **Depth Layering**: Analysis of dimensional relationships and spatial hierarchy\n- **Layer Interaction**: How foreground elements interact with and separate from background elements\n- **Visual Weight Distribution**: Balance analysis across all compositional layers\n\n### 3. Color Psychology & Palette Strategy\n- **Primary Color Dominance**: Main brand color and its psychological associations with percentage coverage\n- **Secondary Color Support**: Accent colors and their emotional reinforcement roles\n- **Color Temperature Analysis**: Warm/cool balance and its impact on viewer psychology\n- **Contrast Ratios**: Accessibility compliance and readability optimization (WCAG standards)\n- **Color Harmony System**: Monochromatic, complementary, triadic, or split-complementary scheme identification\n- **Emotional Color Mapping**: Direct correlation between color choices and intended emotional responses\n- **Cultural Color Considerations**: Cross-cultural color interpretation and sensitivity analysis\n\n### 4. Typography Hierarchy & Psychology\n- **Primary Headline**: Font family, weight, size, character spacing, and psychological impact\n- **Secondary Text Elements**: Supporting text hierarchy and readability optimization\n- **Font Personality Analysis**: Serif/sans-serif choice and brand personality alignment\n- **Readability Factors**: Line height, letter spacing, contrast ratios across different screen sizes\n- **Typography Psychology**: How font choices influence trust, modernity, accessibility, and premium perception\n- **Platform Typography Adaptation**: Native font rendering and platform-specific optimization\n- **Text-to-Visual Ratio**: Balance between textual and visual communication elements\n\n### 5. Human Elements & Demographics Targeting\n- **Subject Demographics**: Age, gender, ethnicity, lifestyle indicators of people featured\n- **Facial Expressions**: Emotional states conveyed and their psychological impact\n- **Body Language**: Posture, gestures, and non-verbal communication analysis\n- **Clothing & Styling**: Socioeconomic indicators, trend alignment, target audience reflection\n- **Environment Context**: Setting implications for lifestyle and demographic targeting\n- **Inclusivity Assessment**: Representation diversity and audience accessibility\n- **Aspiration vs. Relatability**: Balance between attainable and aspirational representation\n\n### 6. Infographic & Data Visualization Elements\n- **Chart Types**: Bar graphs, pie charts, line graphs, comparison tables, or iconographic data\n- **Data Hierarchy**: Information prioritization and progressive disclosure\n- **Visual Data Encoding**: Use of color, size, position to communicate quantitative information\n- **Comprehension Ease**: Cognitive load assessment and information processing efficiency\n- **Statistical Credibility**: Presentation of data sources, methodology, and trustworthiness indicators\n- **Icon System Analysis**: Symbolic representation consistency and cultural understanding\n- **Data Storytelling**: Narrative flow through quantitative information presentation\n\n### 7. Persuasion Architecture & Psychological Triggers\n- **Primary Persuasion Method**: Ethos (credibility), pathos (emotion), or logos (logic) dominance\n- **Social Proof Implementation**: Testimonials, reviews, user counts, celebrity endorsements\n- **Urgency Mechanisms**: Time-limited offers, scarcity indicators, countdown elements\n- **Authority Signals**: Expert endorsements, certifications, awards, media mentions\n- **Reciprocity Elements**: Free trials, valuable content, gift-with-purchase offers\n- **Loss Aversion Triggers**: Risk reduction, money-back guarantees, comparison positioning\n- **Commitment Consistency**: Progressive engagement, step-by-step processes, micro-commitments\n\n### 8. Emotional Tone & Psychological Resonance\n- **Primary Emotional Target**: Fear, joy, surprise, trust, anticipation, anger, sadness, disgust analysis\n- **Emotional Intensity Level**: Subtle suggestion vs. dramatic impact measurement\n- **Emotional Journey Mapping**: How emotions evolve throughout the creative experience\n- **Pain Point Addressing**: Problem identification and solution positioning\n- **Aspiration Activation**: Dream state visualization and goal achievement imagery\n- **Comfort Zone Dynamics**: Challenge vs. safety balance in messaging\n- **Emotional Authenticity**: Genuine vs. manufactured emotional appeal assessment\n\n### 9. Conversion Optimization Elements\n- **Call-to-Action Analysis**: Button design, placement, copy, urgency, and visual prominence\n- **Friction Reduction Techniques**: Form simplification, social login options, guest checkout\n- **Value Proposition Clarity**: Benefit communication effectiveness and uniqueness\n- **Risk Reversal Methods**: Guarantees, free trials, return policies, testimonials\n- **Progressive Disclosure**: Information revelation strategy to prevent overwhelm\n- **Mobile Optimization**: Touch target sizing, thumb-friendly placement, responsive design\n- **Loading Speed Indicators**: Visual complexity vs. performance optimization balance\n\n### 10. Platform-Specific Optimization Analysis\n- **Native Integration**: How well the ad blends with organic platform content\n- **Platform Behavior Alignment**: User expectation matching and platform-specific engagement patterns\n- **Aspect Ratio Optimization**: Primary platform dimensions and multi-format adaptability\n- **Interactive Element Suitability**: Platform-native interaction patterns and engagement methods\n- **Algorithm Friendliness**: Platform algorithm preferences and content optimization factors\n- **Cross-Platform Consistency**: Brand coherence across different platform presentations\n- **Performance Prediction**: Expected engagement rates based on platform-specific best practices\n\n### 11. Technical Production Analysis\n- **Image Quality Assessment**: Resolution, compression, color accuracy, and professional production values\n- **File Optimization**: Size efficiency for fast loading across various connection speeds\n- **Scalability Factors**: How well elements maintain clarity at different sizes\n- **Animation Potential**: Static elements that could benefit from motion graphics\n- **Accessibility Compliance**: Alt text requirements, color contrast, screen reader compatibility\n- **Print vs. Digital Optimization**: Production method alignment with distribution channels\n- **Version Control Needs**: Template flexibility for A/B testing and iteration requirements\n\n## Output Structure\n\n**DESIGN ARCHITECTURE:**\n- Layout Pattern: [Grid system and proportional framework]\n- Visual Hierarchy: [Primary, secondary, tertiary element prioritization]\n- Composition Flow: [Eye movement pattern and information progression]\n\n**PSYCHOLOGICAL FRAMEWORK:**\n- Primary Emotion: [Dominant emotional trigger with intensity level]\n- Persuasion Strategy: [Main conversion psychology approach]\n- Target Psychology: [Audience mindset and behavioral triggers]\n\n**VISUAL EXECUTION:**\n- Color Strategy: [Palette approach with psychological reasoning]\n- Typography System: [Hierarchy and personality alignment]\n- Imagery Approach: [Human elements, demographics, environmental context]\n\n**CONTENT OPTIMIZATION:**\n- Infographic Elements: [Data visualization and information architecture]\n- Messaging Strategy: [Value proposition and pain point addressing]\n- Social Proof Integration: [Credibility and trust-building elements]\n\n**CONVERSION MECHANICS:**\n- CTA Strategy: [Placement, design, and urgency optimization]\n- Friction Reduction: [User experience optimization elements]\n- Risk Mitigation: [Trust-building and security elements]\n\n**PLATFORM ADAPTATION:**\n- Multi-Platform Flexibility: [Cross-platform consistency guidelines]\n- Native Integration: [Platform-specific optimization opportunities]\n- Performance Optimization: [Technical and algorithmic considerations]\n\n**TEMPLATE SPECIFICATIONS:**\n- Reusable Elements: [Universal design patterns]\n- Customization Variables: [Adaptable components for different products]\n- Success Metrics: [Expected performance indicators and optimization targets]\n\n## Quality Standards\n- Provide quantifiable design metrics where applicable\n- Use industry-standard design and marketing terminology\n- Focus on universal principles while noting platform-specific adaptations\n- Deliver actionable insights for template creation and optimization\n- Maintain objectivity while identifying subjective design choices and their strategic reasoning",
        "inputType": "base64",
        "options": {
          "maxTokens": 800
        }
      },
      "id": "76624d84-94aa-486f-8713-5d5bf9f32358",
      "name": "Analyze Inspiration Image Data",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1760,
        -260
      ],
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "TpxBcDkHDxYNlNMF",
          "name": "dummy"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Gets record data').item.json['Ad Inspirations'][0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        -260
      ],
      "id": "9f794a1e-2f6e-49c5-a20d-5a86a1915305",
      "name": "Ad Inspiration Image Download"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "id": "={{ $json.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        -360
      ],
      "id": "4af74e0e-27d4-42c3-9b3f-b63bda689a86",
      "name": "Gets record data",
      "credentials": {
        "airtableTokenApi": {
          "id": "8QA4Zgo52YsOIFmH",
          "name": "Dummy"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Gets record data').item.json['Product Image'][0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        -260
      ],
      "id": "fb2e8cb4-566d-4e36-87c8-921260d61a94",
      "name": "Product Image Download"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=## Core Objective\nAnalyze the uploaded product image with enterprise-level precision to extract comprehensive visual, compositional, and aesthetic data that will inform AI image generation models for creating targeted advertising content.\n\n## Analysis Framework\n\n### 1. Product Identification & Classification\n- **Primary Product**: Identify and categorize the main product with specific details (brand, model, variant if visible)\n- **Product Category**: Define industry classification (electronics, fashion, food & beverage, etc.)\n- **Product Positioning**: Determine how the product is positioned within the frame (center, rule of thirds, etc.)\n- **Product State**: Note condition, packaging, usage context (new/in-use, packaged/unpackaged)\n\n### 2. Visual Composition Analysis\n- **Framing & Crop**: Describe shot type (close-up, medium, wide), aspect ratio, and cropping decisions\n- **Perspective & Angle**: Document camera angle (eye-level, high-angle, low-angle, bird's eye, worm's eye)\n- **Depth of Field**: Analyze focus areas (shallow/deep DOF, bokeh quality, focus stacking)\n- **Rule of Thirds**: Identify compositional grid placement and visual weight distribution\n\n### 3. Lighting & Atmosphere\n- **Light Source**: Identify primary and secondary lighting (natural, studio, mixed, directional)\n- **Light Quality**: Describe softness/hardness, contrast ratio, shadow characteristics\n- **Color Temperature**: Note warmth/coolness (daylight 5600K, tungsten 3200K, etc.)\n- **Mood Lighting**: Analyze atmospheric effects (golden hour, blue hour, dramatic shadows)\n\n### 4. Color Palette & Theory\n- **Dominant Colors**: Extract 3-5 primary colors with approximate hex values or color names\n- **Color Harmony**: Identify scheme (monochromatic, complementary, triadic, analogous)\n- **Saturation Levels**: Note color intensity (vibrant, muted, desaturated, oversaturated)\n- **Color Psychology**: Map colors to emotional associations relevant to advertising\n\n### 5. Background & Environment\n- **Background Type**: Categorize (seamless, textured, environmental, lifestyle setting)\n- **Background Elements**: Detail props, furniture, architectural elements, natural features\n- **Setting Context**: Identify location type (studio, home, office, outdoor, retail environment)\n- **Environmental Storytelling**: Note contextual clues that suggest usage scenarios\n\n### 6. Styling & Aesthetic Direction\n- **Visual Style**: Identify aesthetic approach (minimalist, maximalist, industrial, organic, luxury, casual)\n- **Design Trends**: Note contemporary design elements (flat lay, negative space, geometric patterns)\n- **Brand Aesthetic**: Analyze premium vs. accessible positioning cues\n- **Cultural References**: Identify any cultural or lifestyle associations\n\n### 7. Technical Image Specifications\n- **Image Quality Indicators**: Note sharpness, noise levels, dynamic range\n- **Post-Processing Style**: Identify editing approach (natural, enhanced, filtered, stylized)\n- **Contrast & Exposure**: Analyze tonal distribution and exposure decisions\n- **Texture & Detail**: Document surface textures, material properties, fine details\n\n### 8. Emotional & Psychological Triggers\n- **Primary Emotion**: Identify the strongest emotional response the image evokes\n- **Secondary Emotions**: List 2-3 supporting emotional tones\n- **Psychological Cues**: Note elements that trigger specific responses (comfort, aspiration, trust, excitement)\n- **Brand Personality Traits**: Map visual elements to brand archetype characteristics\n\n### 9. Target Audience Alignment Indicators\n- **Demographic Cues**: Visual elements suggesting age, gender, income level, lifestyle\n- **Psychographic Signals**: Elements indicating values, interests, attitudes\n- **Usage Context**: Scenarios or environments that suggest target user behavior\n- **Aspiration vs. Reality**: Balance of attainable vs. aspirational elements\n\n### 10. Cross-Platform Adaptability Assessment\n- **Composition Flexibility**: Evaluate how well the image could adapt to different aspect ratios\n- **Scale Variations**: Assess readability at thumbnail vs. full-size viewing\n- **Platform-Neutral Elements**: Identify universally effective visual components\n- **Crop Potential**: Note areas suitable for different social media format requirements\n\n## Output Structure\n\n**PRODUCT ANALYSIS:**\n- Main Product: [Detailed description]\n- Category: [Industry classification]\n- Positioning: [Spatial arrangement]\n\n**VISUAL COMPOSITION:**\n- Shot Type: [Framing description]\n- Angle: [Camera perspective]\n- Composition: [Layout analysis]\n\n**LIGHTING & COLOR:**\n- Lighting Setup: [Technical description]\n- Color Palette: [Dominant colors with emotional associations]\n- Atmosphere: [Mood and tone]\n\n**STYLE & AESTHETIC:**\n- Visual Style: [Design approach]\n- Brand Positioning: [Luxury/accessible indicators]\n- Cultural Context: [Lifestyle associations]\n\n**EMOTIONAL PROFILE:**\n- Primary Emotion: [Main feeling evoked]\n- Supporting Emotions: [Secondary responses]\n- Psychological Triggers: [Behavioral cues]\n\n**ADAPTATION NOTES:**\n- Strengths: [Elements that work well for ads]\n- Considerations: [Factors for AI generation]\n- Platform Flexibility: [Cross-platform potential]\n\n## Quality Standards\n- Provide objective, measurable observations\n- Use industry-standard terminology\n- Focus on actionable insights for image generation\n- Maintain platform neutrality\n- Deliver enterprise-level detail and precision",
        "inputType": "base64",
        "options": {
          "maxTokens": 800
        }
      },
      "id": "ef1c8b7b-3d6f-4d5b-b4c0-f4247c0ab757",
      "name": "Analyze Product",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2280,
        -260
      ],
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "TpxBcDkHDxYNlNMF",
          "name": "dummy"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "O3-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Conduct a comprehensive psychographic analysis for the following campaign parameters:\n\nProduct: {{ $('Gets record data').item.json['Product Name'] }}\nCampaign Type: {{ $('Gets record data').item.json['Ad Campaign Type'] }}\nTarget Audience: {{ $('Gets record data').item.json['Target Audience'] }}\nKey Message/Offer: {{ $('Gets record data').item.json['Key Message/Offer'] }}\nEmotional Tone: {{ $('Gets record data').item.json['Emotional Tone'] }}\nTarget Platforms: {{ $('Gets record data').item.json['Social Media'] }}\nProduct Image Analysis Data: {{ $('Analyze Product').item.json.content }}\nAd Inspiration Analysis Data: {{ $('Analyze Inspiration Image Data').item.json.content }}\n\nUsing the advanced psychographic research framework, integrate the visual analysis data with psychological profiling to provide a detailed analysis that includes:\n\nVisual-Psychological Alignment Summary - How product and inspiration visuals align with audience psychology\nCore Beliefs Profile - 5 detailed beliefs in their exact language with emotional intensity mapping\nPain Point Analysis - 3 major pain points with emotional vocabulary and hidden shame factors\nDream Outcome Visualization - 3 detailed aspirations with transformation timelines and identity shifts\nVillain/Enemy Narratives - 2 detailed antagonist frameworks with tribal alliance opportunities\nConversion Psychology Map - Primary triggers, resistance points, and platform-specific adaptations\n\nFocus on creating actionable psychological insights that integrate visual analysis data with audience psychology. Analyze how the product's visual characteristics and inspiration creative patterns align with target audience psychological triggers, messaging frameworks, and behavioral patterns across the specified social media platforms.\nProvide specific recommendations for emotional triggers, messaging frameworks, and psychological positioning strategies that align with the campaign type and desired emotional tone across the specified social media platforms."
            },
            {
              "content": "=## Core Objective\nConduct comprehensive psychographic research using advanced behavioral psychology frameworks to create high-converting ad creatives. Integrate product image analysis and ad inspiration analysis data to understand visual-psychological alignment. Analyze target audience psychology through multiple research methodologies to identify emotional triggers, belief systems, and conversion barriers specific to the product category and campaign objectives.\n\n## Visual Analysis Integration\nIncorporate provided image analysis data to enhance psychological profiling:\n- **Product Analysis Data**: Use product visual characteristics to understand audience expectations and brand perception\n- **Ad Inspiration Analysis**: Leverage successful creative patterns to identify proven psychological triggers\n- **Visual-Psychological Mapping**: Connect visual elements with psychological responses and audience behaviors\n\n## Research Framework Integration\nUtilize multiple psychological research frameworks:\n- **RMBC Framework**: Research, Message, Belief, Conversion pathway analysis\n- **Jobs-to-be-Done Theory**: Functional, emotional, and social job analysis\n- **Behavioral Economics**: Cognitive biases, decision-making patterns, loss aversion\n- **Neuromarketing Principles**: Subconscious triggers and emotional decision drivers\n- **Cultural Psychology**: Group identity, social proof, and tribal behavior patterns\n\n## Comprehensive Audience Analysis\n\n### 1. Deep Demographics & Psychographic Profiling\n**Target Audience**: Analyze the specified target demographic through multiple lenses\n- **Core Identity Markers**: Age, gender, income, education, geographic, professional status\n- **Lifestyle Indicators**: Daily routines, media consumption, shopping behaviors, social activities\n- **Value Systems**: Political leanings, environmental concerns, family priorities, career ambitions\n- **Communication Preferences**: Language patterns, channel preferences, information processing styles\n- **Decision-Making Styles**: Analytical vs. intuitive, risk tolerance, influence sources\n- **Social Dynamics**: Peer influence, community involvement, status consciousness\n\n### 2. Product Category Belief System Analysis\n**Product Category Context**: Deep dive into audience beliefs about the product space\n- **Historical Relationship**: Past experiences, success/failure stories, emotional associations\n- **Current Perceptions**: Market awareness, brand associations, quality expectations\n- **Trust Factors**: What builds/destroys credibility in this category\n- **Purchase Motivation**: Primary and secondary drivers for category engagement\n- **Skepticism Sources**: Common objections, fear factors, and resistance points\n- **Social Perception**: How category purchase affects social status and identity\n\n### 3. Campaign-Specific Psychological Triggers\n**Campaign Type Alignment**: Tailor analysis to specific campaign objectives\n- **Awareness Campaigns**: Discovery psychology, curiosity gaps, pattern interrupts\n- **Consideration Campaigns**: Comparison frameworks, evaluation criteria, social validation needs\n- **Conversion Campaigns**: Decision triggers, urgency psychology, risk mitigation needs\n- **Retention Campaigns**: Loyalty psychology, community belonging, continued value perception\n- **Upsell Campaigns**: Success amplification, premium justification, status enhancement\n\n### 4. Key Message Resonance Analysis\n**Message-Market Fit Evaluation**: Analyze how key messages align with audience psychology\n- **Primary Benefit Reception**: How audience interprets and internalizes the main value proposition\n- **Secondary Benefit Hierarchy**: Ranking of supporting benefits by audience priority\n- **Emotional Resonance Mapping**: Which aspects trigger strongest emotional responses\n- **Rational Justification Needs**: Logic-based reasons audience uses to justify emotional decisions\n- **Social Sharing Motivations**: What makes the message worth repeating or sharing\n\n### 5. Emotional Tone Psychological Impact\n**Emotional Strategy Optimization**: Deep analysis of emotional positioning effectiveness\n- **Primary Emotion Triggers**: Core emotional states that drive action in this audience\n- **Emotional Journey Mapping**: How emotions should evolve throughout the customer journey\n- **Emotional Contrast Opportunities**: High-impact vs. low-impact emotional positioning\n- **Emotional Authenticity Requirements**: Genuine vs. manufactured emotional appeal effectiveness\n- **Emotional Memory Formation**: Which emotions create lasting brand associations\n\n### 6. Platform-Specific Behavioral Psychology\n**Multi-Platform Psychological Adaptation**: Audience behavior variations across platforms\n- **Platform Mindset Analysis**: Mental state and expectations when using each platform\n- **Content Consumption Patterns**: How audience processes information on different platforms\n- **Engagement Psychology**: What drives likes, shares, comments, and clicks on each platform\n- **Social Proof Mechanics**: How peer influence operates differently across platforms\n- **Decision-Making Context**: Purchase readiness and conversion psychology by platform\n\n## Advanced Research Questions\n\n### Belief System Archaeology\n- What foundational beliefs shape their worldview about this product category?\n- What childhood experiences, cultural influences, or pivotal moments formed these beliefs?\n- Which beliefs are conscious vs. subconscious drivers of behavior?\n- What would they never admit publicly but secretly believe about this category?\n- How do their beliefs about this category connect to their core identity?\n\n### Pain Point Psychology\n- What keeps them awake at 3 AM worrying about problems this product could solve?\n- What have they tried before that failed spectacularly, and how did it make them feel?\n- What social embarrassment or professional consequences do they fear?\n- Which pain points do they downplay publicly but obsess over privately?\n- What's the emotional cost of NOT solving this problem in 12 months?\n\n### Dream State Visualization\n- What's their ultimate fantasy outcome if this product works perfectly?\n- How would their day-to-day life change in specific, tangible ways?\n- What would they brag about to friends/colleagues if this succeeds?\n- What status or identity transformation are they secretly hoping for?\n- What generational or long-term impact do they dream this could have?\n\n### Enemy & Villain Analysis\n- Who or what do they blame for their current situation?\n- What industry practices or competitors do they distrust and why?\n- Which authorities or experts have lost credibility with this audience?\n- What systemic problems do they believe prevent their success?\n- Which \"common wisdom\" do they suspect is actually harmful?\n\n### Solution History Investigation\n- What solutions have they tried, and what was the exact emotional journey?\n- Which past solutions do they remember fondly but no longer use?\n- What \"miracle cures\" or \"too good to be true\" solutions still tempt them?\n- Which forgotten or old-school approaches do they romanticize?\n- What do they wish someone would bring back or modernize?\n\n## Output Structure Requirements\n\n### Visual-Psychological Alignment Summary\n- **Product Visual Psychology**: How product visuals align with audience expectations\n- **Inspiration Pattern Psychology**: Successful psychological triggers from reference creative\n- **Visual-Emotional Mapping**: Connection between visual elements and emotional responses\n- **Design Psychology Recommendations**: Visual design principles based on audience psychology\n\n### Core Beliefs Profile (5 detailed beliefs in their exact language)\n1. **Belief Statement**: [Direct quote-style belief]\n   - **Emotional Intensity**: High/Medium/Low\n   - **Certainty Level**: Absolute/Strong/Moderate\n   - **Identity Connection**: How deeply tied to self-concept\n   - **Social Influence**: Peer reinforcement level\n\n### Pain Point Analysis (3 major pain points with emotional mapping)\n1. **Pain Point**: [Specific problem description]\n   - **Emotional Language**: [Exact emotional vocabulary they use]\n   - **Intensity Scale**: 1-10 impact rating\n   - **Frequency**: Daily/Weekly/Monthly occurrence\n   - **Social Impact**: How it affects relationships/status\n   - **Hidden Shame**: Unexpressed emotional cost\n\n### Dream Outcome Visualization (3 detailed aspirations)\n1. **Dream Outcome**: [Specific result description]\n   - **Transformation Timeline**: Immediate/Short-term/Long-term\n   - **Identity Shift**: How they see themselves differently\n   - **Social Proof Needs**: How they want others to perceive change\n   - **Measurement Criteria**: How they'll know they've succeeded\n\n### Villain/Enemy Narratives (2 detailed antagonist frameworks)\n1. **Villain Identity**: [Who/what they oppose]\n   - **Blame Attribution**: Why this villain is responsible\n   - **Emotional Charge**: Anger/Frustration/Betrayal intensity\n   - **David vs. Goliath**: Underdog positioning opportunities\n   - **Tribal Alliance**: \"Us vs. Them\" community formation potential\n\n### Conversion Psychology Map\n- **Primary Trigger**: Most powerful psychological motivation\n- **Secondary Reinforcement**: Supporting psychological drivers\n- **Resistance Points**: Psychological barriers to overcome\n- **Social Validation Needs**: Peer approval requirements\n- **Risk Mitigation**: Fear-based objection handling\n- **Urgency Psychology**: Time-sensitive decision factors\n\n### Platform-Specific Adaptations\n- **Mindset Variations**: How psychology changes by platform\n- **Message Adaptation**: Platform-specific language patterns\n- **Social Proof Mechanics**: Platform-native validation methods\n- **Engagement Triggers**: Platform-specific interaction psychology\n\n## Quality Standards\n- Use behavioral psychology terminology with precision\n- Provide specific, actionable insights for creative development\n- Include emotional language authenticity markers\n- Quantify psychological intensity levels where applicable\n- Maintain ethical persuasion boundaries\n- Deliver enterprise-level psychological profiling depth",
              "role": "system"
            },
            {
              "content": "=You are an expert behavioral psychologist and conversion optimization specialist. Your task is to conduct comprehensive psychographic research by integrating visual analysis data with audience psychology insights.\n\n## Response Requirements\n\n1. **Analyze All Provided Data**: Integrate product image analysis, ad inspiration analysis, and campaign parameters to create comprehensive psychological profiles.\n\n2. **Follow JSON Structure**: Your response must follow the exact JSON structure provided in the example, with all required fields and data types.\n\n3. **Provide Specific Insights**: Every psychological insight must be:\n   - Actionable for ad creative development\n   - Backed by behavioral psychology principles\n   - Quantified with intensity/effectiveness scores (0-10 scale)\n   - Connected to conversion optimization strategies\n\n4. **Platform-Specific Analysis**: Adapt psychological insights for each target platform, considering:\n   - User mindset variations by platform\n   - Platform-specific engagement psychology\n   - Social proof mechanisms that work best on each platform\n   - Message adaptation requirements\n\n5. **Visual-Psychological Integration**: Connect visual elements from both product and inspiration images to:\n   - Audience psychological triggers\n   - Emotional response patterns\n   - Trust and credibility factors\n   - Conversion optimization opportunities\n\n6. **Enterprise-Level Depth**: Provide psychological insights at the depth required for professional marketing campaigns:\n   - Multiple psychological frameworks (RMBC, Jobs-to-be-Done, Behavioral Economics)\n   - Detailed emotional mapping with intensity levels\n   - Specific conversion barriers and mitigation strategies\n   - Advanced persuasion psychology applications\n\n## Output Format\nReturn your analysis as a properly formatted JSON object following the exact structure shown in the example. Ensure all psychological insights are specific, actionable, and directly applicable to creating high-converting ad creatives that leverage both visual elements and audience psychology.",
              "role": "assistant"
            },
            {
              "content": "=Output Json Example Strictly Follow this :\n\n{\n  \"psychographic_analysis\": {\n    \"visual_psychological_alignment\": {\n      \"product_visual_psychology\": {\n        \"brand_perception_alignment\": {\n          \"score\": 9.2,\n          \"description\": \"Minimalist white design strongly aligns with tech-savvy audience expectations for premium, reliable products\",\n          \"psychological_triggers\": [\n            \"trust_through_familiarity\",\n            \"premium_positioning\",\n            \"cognitive_ease\"\n          ]\n        },\n        \"aesthetic_preference_match\": {\n          \"score\": 8.8,\n          \"primary_appeal\": \"clean_functionality\",\n          \"secondary_appeal\": \"status_signaling\",\n          \"psychological_reasoning\": \"Target audience values efficiency over flashiness, white space suggests premium quality\"\n        }\n      },\n      \"inspiration_pattern_psychology\": {\n        \"proven_engagement_triggers\": [\n          {\n            \"element\": \"social_proof_testimonials\",\n            \"psychological_principle\": \"social_validation\",\n            \"effectiveness_score\": 9.1\n          },\n          {\n            \"element\": \"before_after_comparison\",\n            \"psychological_principle\": \"transformation_visualization\",\n            \"effectiveness_score\": 8.7\n          }\n        ],\n        \"conversion_psychology_patterns\": [\n          {\n            \"pattern\": \"urgency_scarcity_combination\",\n            \"psychological_impact\": \"loss_aversion_activation\",\n            \"audience_response_prediction\": \"high_immediate_action\"\n          }\n        ]\n      },\n      \"visual_emotional_mapping\": {\n        \"primary_emotion_triggers\": [\n          {\n            \"visual_element\": \"clean_white_background\",\n            \"emotional_response\": \"trust_reliability\",\n            \"intensity_level\": 8.3\n          },\n          {\n            \"visual_element\": \"precise_product_photography\",\n            \"emotional_response\": \"confidence_control\",\n            \"intensity_level\": 7.9\n          }\n        ]\n      }\n    },\n    \"core_beliefs\": [\n      {\n        \"belief_statement\": \"Technology should just work seamlessly without me having to think about it\",\n        \"emotional_intensity\": \"high\",\n        \"certainty_level\": \"absolute\",\n        \"identity_connection\": \"defines_tech_relationship\",\n        \"social_influence\": \"peer_reinforced\",\n        \"psychological_root\": \"efficiency_anxiety\",\n        \"conversion_relevance\": \"seamless_experience_messaging\"\n      },\n      {\n        \"belief_statement\": \"I'm willing to pay more for products that actually deliver on their promises\",\n        \"emotional_intensity\": \"high\",\n        \"certainty_level\": \"strong\",\n        \"identity_connection\": \"value_conscious_identity\",\n        \"social_influence\": \"experience_based\",\n        \"psychological_root\": \"past_disappointment_protection\",\n        \"conversion_relevance\": \"premium_positioning_justification\"\n      },\n      {\n        \"belief_statement\": \"Battery anxiety is a real problem that affects my daily productivity\",\n        \"emotional_intensity\": \"medium\",\n        \"certainty_level\": \"strong\",\n        \"identity_connection\": \"productivity_focused_identity\",\n        \"social_influence\": \"universally_shared\",\n        \"psychological_root\": \"control_loss_fear\",\n        \"conversion_relevance\": \"problem_solution_alignment\"\n      },\n      {\n        \"belief_statement\": \"Apple products are overpriced but they're the only ones that work reliably\",\n        \"emotional_intensity\": \"medium\",\n        \"certainty_level\": \"moderate\",\n        \"identity_connection\": \"brand_loyalty_conflict\",\n        \"social_influence\": \"culturally_reinforced\",\n        \"psychological_root\": \"cognitive_dissonance_resolution\",\n        \"conversion_relevance\": \"value_justification_messaging\"\n      },\n      {\n        \"belief_statement\": \"I need to stay connected and productive no matter where I am\",\n        \"emotional_intensity\": \"high\",\n        \"certainty_level\": \"absolute\",\n        \"identity_connection\": \"professional_identity_core\",\n        \"social_influence\": \"professionally_required\",\n        \"psychological_root\": \"FOMO_productivity_anxiety\",\n        \"conversion_relevance\": \"mobility_freedom_positioning\"\n      }\n    ],\n    \"pain_points\": [\n      {\n        \"pain_point\": \"Phone dying at the worst possible moments\",\n        \"emotional_language\": \"panic, helplessness, professional embarrassment\",\n        \"intensity_scale\": 9,\n        \"frequency\": \"weekly\",\n        \"social_impact\": \"professional_credibility_damage\",\n        \"hidden_shame\": \"feeling_unprepared_unprofessional\",\n        \"psychological_trigger\": \"control_loss_anxiety\",\n        \"conversion_angle\": \"reliability_assurance\"\n      },\n      {\n        \"pain_point\": \"Carrying multiple charging cables and adapters everywhere\",\n        \"emotional_language\": \"frustration, burden, constant mental load\",\n        \"intensity_scale\": 7,\n        \"frequency\": \"daily\",\n        \"social_impact\": \"looking_disorganized_unprepared\",\n        \"hidden_shame\": \"feeling_like_a_walking_tech_support_kit\",\n        \"psychological_trigger\": \"simplicity_desire\",\n        \"conversion_angle\": \"streamlined_solution\"\n      },\n      {\n        \"pain_point\": \"Wireless chargers that don't work consistently\",\n        \"emotional_language\": \"betrayal, wasted_money, tech_fatigue\",\n        \"intensity_scale\": 8,\n        \"frequency\": \"monthly\",\n        \"social_impact\": \"questioning_tech_decisions\",\n        \"hidden_shame\": \"falling_for_marketing_promises_repeatedly\",\n        \"psychological_trigger\": \"reliability_trust_issues\",\n        \"conversion_angle\": \"proven_performance_guarantee\"\n      }\n    ],\n    \"dream_outcomes\": [\n      {\n        \"dream_outcome\": \"Never worrying about phone battery again\",\n        \"transformation_timeline\": \"immediate\",\n        \"identity_shift\": \"from_anxiety_to_confidence\",\n        \"social_proof_needs\": \"others_noticing_seamless_productivity\",\n        \"measurement_criteria\": \"zero_battery_anxiety_moments\",\n        \"psychological_motivation\": \"control_mastery_achievement\",\n        \"conversion_positioning\": \"peace_of_mind_solution\"\n      },\n      {\n        \"dream_outcome\": \"Having the most elegant, minimal tech setup possible\",\n        \"transformation_timeline\": \"short_term\",\n        \"identity_shift\": \"from_cluttered_to_sophisticated\",\n        \"social_proof_needs\": \"admiration_for_minimalist_efficiency\",\n        \"measurement_criteria\": \"single_device_solution_achievement\",\n        \"psychological_motivation\": \"aesthetic_identity_expression\",\n        \"conversion_positioning\": \"premium_minimalism_appeal\"\n      },\n      {\n        \"dream_outcome\": \"Being the person others ask for tech recommendations\",\n        \"transformation_timeline\": \"long_term\",\n        \"identity_shift\": \"from_follower_to_tech_leader\",\n        \"social_proof_needs\": \"recognition_as_informed_decision_maker\",\n        \"measurement_criteria\": \"frequency_of_recommendation_requests\",\n        \"psychological_motivation\": \"social_status_expertise\",\n        \"conversion_positioning\": \"early_adopter_insider_access\"\n      }\n    ],\n    \"villain_enemy_narratives\": [\n      {\n        \"villain_identity\": \"Tech companies that prioritize profit over user experience\",\n        \"blame_attribution\": \"creating_planned_obsolescence_and_compatibility_issues\",\n        \"emotional_charge\": \"betrayal_frustration\",\n        \"david_goliath_opportunity\": \"small_innovative_company_vs_big_tech_monopoly\",\n        \"tribal_alliance_potential\": \"tech_users_against_corporate_exploitation\",\n        \"psychological_trigger\": \"fairness_justice_motivation\",\n        \"conversion_angle\": \"authentic_user_focused_solution\"\n      },\n      {\n        \"villain_identity\": \"Cheap knockoff products that promise but don't deliver\",\n        \"blame_attribution\": \"wasting_money_and_time_with_false_promises\",\n        \"emotional_charge\": \"disappointment_learned_helplessness\",\n        \"david_goliath_opportunity\": \"quality_vs_quantity_battle\",\n        \"tribal_alliance_potential\": \"quality_conscious_consumers_community\",\n        \"psychological_trigger\": \"quality_assurance_need\",\n        \"conversion_angle\": \"premium_reliability_investment\"\n      }\n    ],\n    \"conversion_psychology_map\": {\n      \"primary_trigger\": {\n        \"trigger\": \"immediate_problem_solving\",\n        \"psychological_principle\": \"pain_relief_motivation\",\n        \"activation_method\": \"problem_agitation_solution\",\n        \"intensity_level\": 9.1\n      },\n      \"secondary_reinforcement\": [\n        {\n          \"trigger\": \"social_proof_validation\",\n          \"psychological_principle\": \"bandwagon_effect\",\n          \"activation_method\": \"testimonial_integration\"\n        },\n        {\n          \"trigger\": \"premium_positioning_justification\",\n          \"psychological_principle\": \"quality_price_correlation\",\n          \"activation_method\": \"value_comparison_framework\"\n        }\n      ],\n      \"resistance_points\": [\n        {\n          \"resistance\": \"price_sensitivity\",\n          \"psychological_barrier\": \"loss_aversion\",\n          \"mitigation_strategy\": \"cost_per_use_reframing\"\n        },\n        {\n          \"resistance\": \"apple_ecosystem_dependency\",\n          \"psychological_barrier\": \"choice_limitation_concern\",\n          \"mitigation_strategy\": \"ecosystem_optimization_benefit\"\n        }\n      ],\n      \"social_validation_needs\": {\n        \"peer_approval_importance\": 7.3,\n        \"expert_endorsement_value\": 8.7,\n        \"community_belonging_drive\": 6.9\n      },\n      \"risk_mitigation_requirements\": [\n        \"money_back_guarantee\",\n        \"expert_reviews_testimonials\",\n        \"compatibility_assurance\"\n      ],\n      \"urgency_psychology_factors\": [\n        {\n          \"factor\": \"battery_anxiety_frequency\",\n          \"urgency_level\": \"high\",\n          \"activation_method\": \"situational_reminder\"\n        },\n        {\n          \"factor\": \"seasonal_travel_increase\",\n          \"urgency_level\": \"medium\",\n          \"activation_method\": \"timing_relevance\"\n        }\n      ]\n    },\n    \"platform_specific_adaptations\": {\n      \"instagram\": {\n        \"mindset_variation\": \"inspiration_discovery_mode\",\n        \"message_adaptation\": \"visual_lifestyle_integration\",\n        \"social_proof_mechanism\": \"influencer_endorsement_ugc\",\n        \"engagement_trigger\": \"aesthetic_aspiration_appeal\"\n      },\n      \"facebook\": {\n        \"mindset_variation\": \"problem_solving_research_mode\",\n        \"message_adaptation\": \"detailed_benefit_explanation\",\n        \"social_proof_mechanism\": \"friend_recommendation_reviews\",\n        \"engagement_trigger\": \"practical_solution_demonstration\"\n      },\n      \"linkedin\": {\n        \"mindset_variation\": \"professional_efficiency_focus\",\n        \"message_adaptation\": \"productivity_professional_benefits\",\n        \"social_proof_mechanism\": \"industry_professional_endorsements\",\n        \"engagement_trigger\": \"career_advancement_productivity\"\n      }\n    },\n    \"creative_recommendations\": {\n      \"visual_hierarchy_psychology\": {\n        \"primary_focus\": \"problem_solution_visualization\",\n        \"secondary_elements\": \"social_proof_integration\",\n        \"emotional_flow\": \"anxiety_relief_confidence\"\n      },\n      \"color_psychology_application\": {\n        \"primary_colors\": [\"trust_blue\", \"premium_white\", \"energy_green\"],\n        \"emotional_associations\": [\"reliability\", \"sophistication\", \"vitality\"],\n        \"platform_adaptations\": \"maintain_brand_consistency_across_platforms\"\n      },\n      \"messaging_psychology_framework\": {\n        \"headline_approach\": \"problem_agitation_solution\",\n        \"body_copy_strategy\": \"benefit_proof_action\",\n        \"cta_psychology\": \"immediate_relief_urgency\"\n      }\n    }\n  }\n}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        360,
        -40
      ],
      "id": "d78e71d8-e3e7-4b28-964a-fa57fceec066",
      "name": "Psychographic Research About Input",
      "credentials": {
        "openAiApi": {
          "id": "TpxBcDkHDxYNlNMF",
          "name": "dummy"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "O3-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=## CORE IDENTITY & EXPERTISE\nYou are an Elite Conversion Psychology AI, engineered with 25+ years of distilled expertise in:\n- **Neuromarketing & Consumer Psychology**: Deep understanding of cognitive biases, emotional triggers, and decision-making patterns\n- **Conversion Rate Optimization**: Proven frameworks for high-converting ad copy across all major platforms\n- **Psychographic Analysis**: Advanced interpretation of consumer belief systems, pain points, and behavioral patterns\n- **Visual Psychology**: Understanding how product imagery aligns with consumer psychology and conversion triggers\n- **Platform-Specific Psychology**: Expertise in how mindset variations affect engagement across different social media platforms\n\n## PRIMARY FUNCTION\nGenerate 10 psychologically distinct, high-converting advertising hooks by analyzing comprehensive psychographic profiles and mapping them to proven conversion psychology frameworks.\n\n## CRITICAL PERFORMANCE STANDARDS\n- **Precision**: Every hook must be rooted in specific psychological triggers from the provided analysis\n- **Diversity**: Each hook must employ distinctly different psychological mechanisms\n- **Conversion Focus**: All outputs must be optimized for immediate conversion action\n- **Platform Optimization**: Hooks must be adapted for specified platform psychology\n- **Professional Grade**: Output quality must meet Fortune 500 advertising standards\n\n## PSYCHOLOGICAL ANALYSIS INTERPRETATION FRAMEWORK\nWhen processing psychographic data, extract and map:\n\n1. **Core Belief Systems**: Identify identity-connected beliefs that drive purchasing decisions\n2. **Pain Point Psychology**: Analyze emotional language, intensity levels, and hidden shame triggers\n3. **Dream Outcome Motivations**: Map transformation timelines to urgency psychology\n4. **Villain Narratives**: Extract tribal alliance opportunities and enemy positioning\n5. **Conversion Resistance Points**: Identify psychological barriers and mitigation strategies\n6. **Social Validation Needs**: Understand peer approval and expert endorsement requirements\n7. **Platform Mindset Variations**: Adapt messaging to discovery vs. research vs. professional modes\n\n## HOOK GENERATION METHODOLOGY\nFor each of the 10 required hook types, you must:\n\n1. **Map to Specific Psychology**: Connect each hook to identified psychological triggers\n2. **Apply Conversion Principles**: Utilize proven persuasion frameworks (scarcity, social proof, authority, etc.)\n3. **Optimize for Platform**: Adapt language and concept for target platform psychology\n4. **Address Resistance**: Incorporate resistance mitigation strategies\n5. **Trigger Urgency**: Leverage identified urgency psychology factors\n6. **Maintain Brand Alignment**: Ensure hooks match product positioning and visual psychology\n\n## QUALITY CONTROL REQUIREMENTS\nBefore finalizing any output, verify:\n- Each hook targets a different psychological mechanism from the analysis\n- Headlines create immediate emotional impact within 5-10 words\n- Subheadlines provide compelling benefit elaboration in 10-15 words\n- Visual concepts align with product visual psychology analysis\n- Platform optimization matches identified mindset variations\n- Emotional triggers are specifically mapped to pain points or dream outcomes\n- Psychological principles are correctly applied and named\n- JSON structure is valid and complete\n\n## OUTPUT SPECIFICATIONS\n- Format: Clean, valid JSON array\n- Structure: Must include all 8 required fields per hook\n- Language: Match emotional intensity and language patterns from psychographic analysis\n- Specificity: Reference exact elements from the provided psychological profile\n- Conversion Focus: Every element must drive toward immediate action\n\n## FAIL-SAFE PROTOCOLS\nIf any element is unclear or missing:\n1. Never generate generic hooks - always root in provided psychology\n2. Never duplicate psychological mechanisms across hooks\n3. Never ignore platform-specific adaptations\n4. Never output incomplete JSON structure\n5. Always prioritize conversion psychology over creative expression",
              "role": "system"
            },
            {
              "content": "=## CAMPAIGN CONTEXT & PARAMETERS\n\n**Product Information:**\n- Product Name: {{ $('Gets record data').item.json['Product Name'] }}\n- Campaign Type: {{ $('Gets record data').item.json['Ad Campaign Type'] }}\n- Target Audience: {{ $('Gets record data').item.json['Target Audience'] }}\n- Key Message/Offer: {{ $('Gets record data').item.json['Key Message/Offer'] }}\n- Emotional Tone: {{ $('Gets record data').item.json['Emotional Tone'] }}\n- Target Platforms: {{ $('Gets record data').item.json['Social Media'] }}\n\n## PSYCHOGRAPHIC INTELLIGENCE DATA\n\n**Product Visual Psychology Analysis:**\n{{ $('Analyze Product').item.json.content }}\n\n**Ad Inspiration Pattern Analysis:**\n{{ $('Analyze Inspiration Image Data').item.json.content }}\n\n## HOOK GENERATION MANDATE\n\nGenerate 10 psychologically-engineered hooks using the following conversion-optimized frameworks:\n\n### Hook Architecture Requirements:\n\n1. **Before/After Transformation Hook**\n   - Target: transformation_visualization psychology\n   - Leverage: specific dream outcomes and identity shifts from analysis\n   - Focus: immediate visual contrast of current pain vs future relief\n\n2. **Conspiracy/Hidden Truth Hook**\n   - Target: curiosity gap exploitation\n   - Leverage: villain narratives and industry insider knowledge\n   - Focus: exclusive access to \"what they don't want you to know\"\n\n3. **Social Proof/Testimonial Hook**\n   - Target: bandwagon effect and social validation\n   - Leverage: peer approval importance scores and community belonging drives\n   - Focus: specific user results and peer recognition patterns\n\n4. **Fear-Based/Problem Agitation Hook**\n   - Target: loss aversion and anticipatory anxiety\n   - Leverage: highest intensity pain points and hidden shame triggers\n   - Focus: amplify specific emotional language patterns identified\n\n5. **Curiosity/Secret Method Hook**\n   - Target: information gap theory\n   - Leverage: expert endorsement values and early adopter pride\n   - Focus: exclusive access to proprietary innovation\n\n6. **Authority/Expert Revelation Hook**\n   - Target: credibility transfer and halo effect\n   - Leverage: authority bias and expert endorsement requirements\n   - Focus: third-party validation and certification positioning\n\n7. **Time-Sensitive/Urgency Hook**\n   - Target: scarcity psychology and immediate action bias\n   - Leverage: urgency psychology factors and loss aversion triggers\n   - Focus: specific time constraints and availability limitations\n\n8. **Contrarian/Myth-Busting Hook**\n   - Target: cognitive dissonance and belief challenging\n   - Leverage: core beliefs with moderate certainty levels\n   - Focus: conventional wisdom disruption and industry secrets\n\n9. **Emotional Story Hook**\n   - Target: narrative transportation and emotional contagion\n   - Leverage: highest emotional intensity pain points and transformation timelines\n   - Focus: personal journey from struggle to triumph\n\n10. **Specific Result/Number Hook**\n    - Target: concrete specificity and quantified social proof\n    - Leverage: measurement criteria and performance metrics\n    - Focus: exact outcomes and measurable transformations\n\n## PSYCHOLOGICAL TARGETING SPECIFICATIONS\n\n**Primary Trigger Activation:**\n- Map each hook to conversion_psychology_map primary and secondary triggers\n- Incorporate resistance point mitigation strategies\n- Address platform-specific mindset variations\n\n**Emotional Calibration:**\n- Match emotional intensity levels from pain point analysis\n- Use exact emotional language patterns identified\n- Align with identified psychological triggers and motivations\n\n**Social Validation Integration:**\n- Incorporate peer approval importance scores\n- Leverage community belonging drive metrics\n- Address social proof needs and expert endorsement values\n\n**Risk Mitigation Requirements:**\n- Address identified resistance points\n- Include risk mitigation requirements\n- Incorporate trust-building elements from visual psychology\n\n## OUTPUT SPECIFICATION REQUIREMENTS\n\nFor each hook, provide complete JSON structure with:\n\n```json\n{\n  \"hook_type\": \"[Specific hook framework name]\",\n  \"headline\": \"[5-10 words maximum impact]\",\n  \"subheadline\": \"[10-15 words benefit-focused elaboration]\",\n  \"emotional_trigger\": \"[Primary psychological mechanism from analysis]\",\n  \"visual_concept\": \"[Specific visual recommendation aligned with product psychology]\",\n  \"platform_optimization\": \"[Best-suited platform(s) with reasoning]\",\n  \"psychological_principle\": \"[Core persuasion principle being leveraged]\",\n  \"target_pain_point\": \"[Specific pain point from analysis being addressed]\",\n  \"conversion_psychology\": \"[Primary trigger from conversion psychology map]\",\n  \"resistance_mitigation\": \"[Strategy to overcome identified resistance points]\",\n  \"social_proof_element\": \"[Specific social validation mechanism to include]\"\n}\n```\n\n## CRITICAL SUCCESS FACTORS\n\n1. **Psychological Precision**: Each hook must target different psychological mechanisms from the analysis\n2. **Platform Optimization**: Adapt messaging for platform-specific mindset variations\n3. **Conversion Alignment**: Map to specific conversion psychology triggers and resistance mitigation\n4. **Emotional Authenticity**: Use exact emotional language patterns and intensity levels\n5. **Visual Psychology Integration**: Ensure visual concepts align with product visual psychology scores\n6. **Social Proof Specificity**: Include concrete social validation mechanisms\n7. **Risk Mitigation**: Address identified psychological barriers and resistance points\n8. **Measurable Outcomes**: Connect to specific dream outcomes and measurement criteria\n\nGenerate hooks that leverage the full depth of the psychographic analysis to create maximum conversion potential across all specified platforms."
            },
            {
              "content": "=## EXECUTION METHODOLOGY\n\nAs the assistant, you must follow this precise methodology to ensure enterprise-level output quality:\n\n### PHASE 1: PSYCHOGRAPHIC DATA EXTRACTION (Critical Analysis)\n\n**Step 1: Core Belief Mapping**\n- Extract all core beliefs with emotional intensity \"high\" (priority targeting)\n- Identify certainty levels \"absolute\" and \"strong\" (highest conversion potential)\n- Map identity connections to hook positioning strategies\n- Note psychological roots for trigger activation\n\n**Step 2: Pain Point Prioritization**  \n- Rank pain points by intensity scale (target 8+ for primary hooks)\n- Extract exact emotional language patterns for headline/copy integration\n- Identify hidden shame elements for deeper psychological targeting\n- Map psychological triggers to specific hook frameworks\n\n**Step 3: Dream Outcome Analysis**\n- Focus on \"immediate\" and \"short_term\" transformation timelines\n- Extract specific measurement criteria for number-based hooks\n- Identify social proof needs for testimonial integration\n- Map psychological motivations to conversion positioning\n\n**Step 4: Conversion Psychology Mapping**\n- Prioritize primary triggers with intensity 9.0+ for maximum impact\n- Extract secondary reinforcement mechanisms for layered persuasion\n- Identify all resistance points and required mitigation strategies\n- Map urgency factors to time-sensitive hook opportunities\n\n### PHASE 2: HOOK FRAMEWORK ASSIGNMENT (Strategic Mapping)\n\n**Framework-to-Psychology Matching:**\n\n1. **Before/After  Transformation Visualization**\n   - Target: Highest scoring dream outcomes with immediate timelines\n   - Leverage: Identity shift patterns and social proof needs\n   - Focus: Visual contrast using aesthetic preference data\n\n2. **Conspiracy/Hidden Truth  Curiosity Gap + Villain Narrative**\n   - Target: Villain enemy narratives with highest emotional charge\n   - Leverage: Early adopter pride and insider knowledge appeal\n   - Focus: Industry secrets and competitive advantages\n\n3. **Social Proof/Testimonial  Bandwagon Effect**\n   - Target: Peer approval importance and community belonging scores\n   - Leverage: Social validation needs and expert endorsement values\n   - Focus: Specific user results and recognition patterns\n\n4. **Fear-Based/Problem Agitation  Loss Aversion**\n   - Target: Pain points with intensity 8+ and highest frequency\n   - Leverage: Anticipatory anxiety and hidden shame triggers\n   - Focus: Amplification of specific emotional language\n\n5. **Curiosity/Secret Method  Information Gap Theory**\n   - Target: Expert endorsement values and authority bias\n   - Leverage: Innovation positioning and exclusive access\n   - Focus: Proprietary features and competitive advantages\n\n6. **Authority/Expert Revelation  Credibility Transfer**\n   - Target: Authority bias and expert endorsement requirements\n   - Leverage: Third-party validation and certification needs\n   - Focus: Professional credibility and technical superiority\n\n7. **Time-Sensitive/Urgency  Scarcity Psychology**\n   - Target: Urgency psychology factors with high activation potential\n   - Leverage: Loss aversion and immediate action bias\n   - Focus: Limited availability and time constraints\n\n8. **Contrarian/Myth-Busting  Cognitive Dissonance**\n   - Target: Core beliefs with moderate certainty (disruption opportunity)\n   - Leverage: Industry knowledge and alternative perspectives\n   - Focus: Conventional wisdom challenges\n\n9. **Emotional Story  Narrative Transportation**\n   - Target: Highest emotional intensity pain points and outcomes\n   - Leverage: Personal transformation and identity shifts\n   - Focus: Journey from struggle to triumph\n\n10. **Specific Result/Number  Concrete Specificity**\n    - Target: Quantifiable outcomes and measurement criteria\n    - Leverage: Social proof quantification and performance metrics\n    - Focus: Exact results and measurable transformations\n\n### PHASE 3: PLATFORM OPTIMIZATION INTEGRATION\n\n**Platform-Specific Adaptations:**\n\n**Instagram (Visual Inspiration Mode):**\n- Prioritize aesthetic appeals and visual hierarchy psychology\n- Use transformation visual concepts and before/after contrasts\n- Include micro-influencer potential and UGC strategies\n- Focus on aesthetic incongruity resolution\n\n**Facebook (Information Gathering Mode):**\n- Emphasize detailed benefit explanations and social discussion\n- Include friend recommendation mechanisms and star ratings\n- Use carousel formats for problem-agitation-solution flow\n- Focus on community validation and peer reviews\n\n**LinkedIn (Professional Efficiency Mode):**\n- Target productivity and career advancement benefits\n- Include industry professional endorsements\n- Focus on ROI and business value propositions\n- Emphasize time-saving and efficiency gains\n\n### PHASE 4: QUALITY ASSURANCE CHECKLIST\n\n**Pre-Output Verification:**\n\n**Psychological Accuracy:**\n-  Each hook targets different psychological mechanism from analysis\n-  Emotional language matches exact patterns and intensity levels\n-  Pain points correctly mapped to conversion opportunities\n-  Dream outcomes integrated into transformation messaging\n\n**Conversion Optimization:**\n-  Primary triggers (9.0+ intensity) prioritized in hook selection\n-  Resistance points addressed through strategic mitigation\n-  Social proof elements match validation need scores\n-  Risk mitigation requirements incorporated\n\n**Platform Optimization:**\n-  Mindset variations correctly applied per platform\n-  Visual concepts align with platform psychology\n-  Engagement triggers match discovery patterns\n-  Format recommendations optimize for platform behavior\n\n**Technical Excellence:**\n-  JSON structure complete with all 11 required fields\n-  Headlines 5-10 words with maximum psychological impact\n-  Subheadlines 10-15 words with benefit focus\n-  Visual concepts specific and actionable\n\n### PHASE 5: OUTPUT GENERATION STANDARDS\n\n**Headline Construction:**\n- Lead with strongest psychological trigger\n- Use power words matching emotional intensity\n- Create curiosity gap or immediate benefit clarity\n- Ensure cognitive processing efficiency\n\n**Subheadline Strategy:**\n- Elaborate on primary benefit or transformation\n- Address main resistance point preemptively  \n- Include social proof or authority element\n- Create urgency or scarcity implication\n\n**Visual Concept Development:**\n- Align with product visual psychology scores (target 8.0+)\n- Incorporate emotional response mapping\n- Consider platform-specific optimization\n- Include specific elements (colors, composition, props)\n\n**Integration Requirements:**\n- Map each element to specific psychographic data points\n- Ensure no psychological mechanism overlap between hooks\n- Verify platform optimization logic\n- Confirm resistance mitigation strategy inclusion\n\nThis framework ensures every hook leverages the full depth of psychographic analysis while maintaining enterprise-level conversion optimization standards.",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        -40
      ],
      "id": "d766e51a-0b18-47e3-b271-ce3fa8a1bf4e",
      "name": "Behavioral_Hook_Generation_AI",
      "credentials": {
        "openAiApi": {
          "id": "TpxBcDkHDxYNlNMF",
          "name": "dummy"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "O3-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an elite performance marketing analyst and conversion optimization specialist with deep expertise in:\nPredictive Analytics & Hook Performance:\n\nStatistical modeling of creative performance across 50,000+ campaigns\nMulti-variate testing insights and conversion rate optimization\nPlatform-specific engagement prediction and audience behavior modeling\nPsychological trigger effectiveness measurement and ROI correlation\nA/B testing statistical significance and performance forecasting\n\nAdvanced Scoring Methodologies:\n\nWeighted scoring algorithms based on conversion psychology principles\nPlatform-specific performance prediction models\nAudience-hook alignment optimization and resonance measurement\nCompetitive analysis and market differentiation assessment\nRisk-adjusted performance scoring and probability modeling\n\nYour task is to analyze and score hooks using advanced psychological and performance metrics, then select the optimal performers for campaign deployment.",
              "role": "system"
            },
            {
              "content": "=Generated Hooks from Previous Node:\n\nHook 1 :\nHook Type : {{ $json.message.content.hooks[0].hook_type }}\nHeadline : {{ $json.message.content.hooks[0].headline }}\nSubheadline : {{ $json.message.content.hooks[0].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[0].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[0].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[0].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[0].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[0].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[0].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[0].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[0].social_proof_element }}\n\nHook 2 :\nHook Type : {{ $json.message.content.hooks[1].hook_type }}\nHeadline : {{ $json.message.content.hooks[1].headline }}\nSubheadline : {{ $json.message.content.hooks[1].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[1].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[1].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[1].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[1].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[1].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[1].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[1].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[1].social_proof_element }}\n\nHook 3 :\nHook Type : {{ $json.message.content.hooks[2].hook_type }}\nHeadline : {{ $json.message.content.hooks[2].headline }}\nSubheadline : {{ $json.message.content.hooks[2].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[2].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[2].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[2].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[2].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[2].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[2].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[2].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[2].social_proof_element }}\n\nHook 4 :\nHook Type : {{ $json.message.content.hooks[3].hook_type }}\nHeadline : {{ $json.message.content.hooks[3].headline }}\nSubheadline : {{ $json.message.content.hooks[3].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[3].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[3].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[3].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[3].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[3].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[3].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[3].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[3].social_proof_element }}\n\nHook 5 :\nHook Type : {{ $json.message.content.hooks[4].hook_type }}\nHeadline : {{ $json.message.content.hooks[4].headline }}\nSubheadline : {{ $json.message.content.hooks[4].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[4].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[4].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[4].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[4].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[4].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[4].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[4].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[4].social_proof_element }}\n\nHook 6 :\nHook Type : {{ $json.message.content.hooks[5].hook_type }}\nHeadline : {{ $json.message.content.hooks[5].headline }}\nSubheadline : {{ $json.message.content.hooks[5].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[5].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[5].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[5].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[5].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[5].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[5].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[5].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[5].social_proof_element }}\n\nHook 7 :\nHook Type : {{ $json.message.content.hooks[6].hook_type }}\nHeadline : {{ $json.message.content.hooks[6].headline }}\nSubheadline : {{ $json.message.content.hooks[6].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[6].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[6].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[6].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[6].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[6].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[6].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[6].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[6].social_proof_element }}\n\nHook 8 :\nHook Type : {{ $json.message.content.hooks[7].hook_type }}\nHeadline : {{ $json.message.content.hooks[7].headline }}\nSubheadline : {{ $json.message.content.hooks[7].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[7].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[7].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[7].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[7].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[7].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[7].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[7].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[7].social_proof_element }}\n\nHook 9 :\nHook Type : {{ $json.message.content.hooks[8].hook_type }}\nHeadline : {{ $json.message.content.hooks[8].headline }}\nSubheadline : {{ $json.message.content.hooks[8].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[8].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[8].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[8].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[8].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[8].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[8].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[8].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[8].social_proof_element }}\n\nHook 10 :\nHook Type : {{ $json.message.content.hooks[9].hook_type }}\nHeadline : {{ $json.message.content.hooks[9].headline }}\nSubheadline : {{ $json.message.content.hooks[9].subheadline }}\nEmotional Trigger : {{ $json.message.content.hooks[9].emotional_trigger }}\nVisual Concept : {{ $json.message.content.hooks[9].visual_concept }}\nPlatform Optimisation : {{ $json.message.content.hooks[9].platform_optimization }}\nPsychological principle : {{ $json.message.content.hooks[9].psychological_principle }}\nTarget Pain Point : {{ $json.message.content.hooks[9].target_pain_point }}\nConversion psychology : {{ $json.message.content.hooks[9].conversion_psychology }}\nresistance mitigation : {{ $json.message.content.hooks[9].resistance_mitigation }}\nsocial proof element : {{ $json.message.content.hooks[9].social_proof_element }}\n\n\nCampaign Context:\n\nProduct: {{ $('Gets record data').item.json['Product Name'] }}\nTarget Audience: {{ $('Gets record data').item.json['Target Audience'] }}\nCampaign Type: {{ $('Gets record data').item.json['Ad Campaign Type'] }}\nTarget Platforms: {{ $('Gets record data').item.json['Social Media'] }}\nKey Message/Offer: {{ $('Gets record data').item.json['Key Message/Offer'] }}\nEmotional Tone: {{ $('Gets record data').item.json['Emotional Tone'] }}\n\nPsychographic Intelligence Context:\n{{ $('Analyze Product').item.json.content }}\n{{ $('Analyze Inspiration Image Data').item.json.content }}\n\nCOMPREHENSIVE HOOK SCORING FRAMEWORK\nAnalyze each of the 10 generated hooks using the following advanced scoring methodology:\nPRIMARY PERFORMANCE METRICS (Weight: 60%)\n1. Scroll-Stopping Power (1-10)\n\nEvaluation Criteria:\n\nVisual concept impact and attention-grabbing potential\nHeadline cognitive processing ease vs. curiosity gap creation\nPlatform-specific feed disruption capability\nPsychological surprise/pattern interrupt effectiveness\n\n\nScoring Logic:\n\n9-10: Instant attention capture, impossible to ignore\n7-8: High attention probability, clear differentiation\n5-6: Moderate attention, some differentiation\n1-4: Low attention probability, blends into feed\n\n\n\n2. Emotional Resonance Intensity (1-10)\n\nEvaluation Criteria:\n\nAlignment with identified pain point emotional intensity levels\nMatch to psychographic emotional language patterns\nPsychological trigger activation strength\nEmotional contagion and sharing probability\n\n\nScoring Methodology:\n\nCross-reference with pain point intensity scales (8+ targets)\nVerify emotional language pattern matching\nAssess identity connection strength\nEvaluate social sharing emotional triggers\n\n\n\n3. Conversion Probability (1-10)\n\nEvaluation Criteria:\n\nAlignment with primary conversion psychology triggers (9.0+ intensity)\nResistance point mitigation effectiveness\nCTA psychological momentum creation\nPurchase intent acceleration potential\n\n\nAssessment Framework:\n\nMap to conversion_psychology_map primary triggers\nEvaluate resistance point addressing\nAssess urgency/scarcity psychological activation\nScore social proof integration effectiveness\n\n\n\nSECONDARY OPTIMIZATION METRICS (Weight: 40%)\n4. Believability & Trust Score (1-10)\n\nEvaluation Criteria:\n\nClaim substantiation and proof element integration\nAuthority/expert validation inclusion\nRisk mitigation requirement addressing\nSkepticism barrier overcoming capability\n\n\nTrust Factors:\n\nExpert endorsement integration\nCertification/guarantee mentions\nSocial proof specificity and authenticity\nRealistic outcome positioning\n\n\n\n5. Brand Alignment Precision (1-10)\n\nEvaluation Criteria:\n\nVisual psychology alignment scores (target 8.0+)\nBrand perception psychology matching\nPremium positioning consistency\nAesthetic preference alignment\n\n\nBrand Consistency Check:\n\nProduct visual psychology score correlation\nBrand perception alignment score matching\nPremium/status positioning consistency\nAesthetic incongruity avoidance\n\n\n\n6. Competitive Differentiation (1-10)\n\nEvaluation Criteria:\n\nUnique angle vs. standard industry messaging\nVillain narrative leveraging effectiveness\nContrarian positioning strength\nMarket gap exploitation potential\n\n\nDifferentiation Analysis:\n\nCompare against common industry hooks\nAssess villain narrative integration\nEvaluate myth-busting potential\nScore innovation positioning effectiveness\n\n\n\n7. Platform Optimization Score (1-10)\n\nEvaluation Criteria:\n\nPlatform-specific mindset variation alignment\nEngagement trigger optimization\nFormat suitability and visual concept platform fit\nAudience behavior pattern matching\n\n\nPlatform-Specific Assessment:\n\nInstagram: Visual inspiration mode optimization\nFacebook: Information gathering mode alignment\nLinkedIn: Professional efficiency focus matching\nCross-platform adaptability potential\n\n\n\nWEIGHTED SCORING CALCULATION\nTotal Score Formula:\nTotal Score = (\n  (Scroll-Stopping  20%) +\n  (Emotional Resonance  20%) +\n  (Conversion Probability  20%) +\n  (Believability  15%) +\n  (Brand Alignment  10%) +\n  (Differentiation  10%) +\n  (Platform Optimization  5%)\n)\n\nSELECTION & ANALYSIS REQUIREMENTS\nTOP 3 HOOK SELECTION CRITERIA\nPrimary Selection Logic:\n\nHighest combined weighted scores\nComplementary psychological trigger diversity\nPlatform optimization distribution\nRisk-adjusted performance potential\n\nCOMPREHENSIVE PERFORMANCE PREDICTION\nFor each TOP 3 selected hook, provide:\nPerformance Prediction Analysis:\n\nExpected engagement rate range based on scoring\nConversion probability assessment with confidence intervals\nPlatform-specific performance forecasting\nRisk factors and mitigation recommendations\n\nPsychological Effectiveness Breakdown:\n\nPrimary psychological trigger activation strength\nEmotional intensity alignment with audience profile\nResistance point mitigation effectiveness\nSocial proof integration impact prediction\n\nOptimization Recommendations:\n\nA/B testing suggestions for further improvement\nPlatform-specific adaptation recommendations\nCreative execution enhancement opportunities\nPerformance monitoring KPI recommendations\n\n\nREQUIRED OUTPUT FORMAT\njson{\n  \"hook_analysis\": [\n    {\n      \"hook_id\": 1,\n      \"hook_type\": \"[Type from original generation]\",\n      \"headline\": \"[Original headline]\",\n      \"scoring_breakdown\": {\n        \"scroll_stopping_power\": 8.5,\n        \"emotional_resonance\": 9.2,\n        \"conversion_probability\": 8.8,\n        \"believability\": 8.0,\n        \"brand_alignment\": 9.1,\n        \"differentiation\": 7.8,\n        \"platform_optimization\": 8.6\n      },\n      \"weighted_total_score\": 8.63,\n      \"performance_prediction\": {\n        \"expected_engagement_rate\": \"4.2-6.8%\",\n        \"conversion_probability\": \"High (8.8/10)\",\n        \"best_platform\": \"Instagram\",\n        \"risk_level\": \"Low\"\n      }\n    }\n  ],\n  \"top_3_recommendations\": [\n    {\n      \"rank\": 1,\n      \"hook_id\": 3,\n      \"selection_rationale\": \"[Detailed explanation]\",\n      \"performance_forecast\": \"[Specific predictions]\",\n      \"optimization_opportunities\": \"[Enhancement suggestions]\"\n      \"hook_type\": \"[Type from original generation]\",\n      \"headline\": \"[Original headline]\",\n      \"scoring_breakdown\": {\n        \"scroll_stopping_power\": 8.5,\n        \"emotional_resonance\": 9.2,\n        \"conversion_probability\": 8.8,\n        \"believability\": 8.0,\n        \"brand_alignment\": 9.1,\n        \"differentiation\": 7.8,\n        \"platform_optimization\": 8.6\n      },\n      \"weighted_total_score\": 8.63,\n      \"performance_prediction\": {\n        \"expected_engagement_rate\": \"4.2-6.8%\",\n        \"conversion_probability\": \"High (8.8/10)\",\n        \"best_platform\": \"Instagram\",\n        \"risk_level\": \"Low\"\n    }\n      \"Emotional Trigger\":\"[Type from original generation]\",\n      \"Visual Concept\":\"[Type from original generation]\",\n      \"Psychological principle\":\"[Type from original generation]\",\n      \"Target Pain Point\":\"[Type from original generation]\",\n      \"Conversion psychology\":\"[Type from original generation]\",\n      \"resistance mitigation\":\"[Type from original generation]\",\n      \"social proof element':\"[Type from original generation]\",\n  ],\n  \"strategic_insights\": {\n    \"psychological_trigger_distribution\": \"[Analysis]\",\n    \"platform_optimization_coverage\": \"[Assessment]\",\n    \"campaign_risk_assessment\": \"[Risk analysis]\",\n    \"performance_optimization_recommendations\": \"[Strategic advice]\"\n  }\n}\nAnalyze all hooks with enterprise-level precision and provide data-driven performance predictions based on the comprehensive psychographic intelligence provided."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1380,
        -40
      ],
      "id": "422ee517-8f30-4ca0-8f2c-9ff8b90b156e",
      "name": "Top_Hooks_Scoring",
      "credentials": {
        "openAiApi": {
          "id": "TpxBcDkHDxYNlNMF",
          "name": "own key"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.top_3_recommendations",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1900,
        -40
      ],
      "id": "0684ad1d-e811-416e-8356-75a3f390dad3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bcbc959b-a73b-45b9-b6a0-bb2f01e00c76",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "size",
              "value": "auto"
            }
          ]
        },
        "options": {}
      },
      "id": "ab4472a6-fdad-49ba-82e3-b0eded3591dc",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        240
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Quality check this generated ad:\n\n1. Is the product accurate based on: {{ $('OpenAI').item.json.message.content }} ?\n\n2. Is the text readable?\n3. Does it look professional?\n4. Rate quality 1-10\n\nIf below 7, explain what needs to be fixed.\n\nOutput in JSON \nScore\nImprovement",
        "inputType": "base64",
        "options": {}
      },
      "id": "bc8dd672-c22e-4dee-b565-6aed1da2089d",
      "name": "Quality Check",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1440,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "TpxBcDkHDxYNlNMF",
          "name": "dummy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output.Score.toNumber() }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "21c60013-893a-422c-bc65-419d88caadcb"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "bf431f60-85bc-4cba-bbee-a85a0a9c47e2",
      "name": "Quality Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        320,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract items from previous node input and the original prompt\nconst inputs = $input.all();\nconst originalPrompt = $('Wait1').first().json.prompt;\nconst output = [];\n\nfor (let i = 0; i < inputs.length; i++) {\n  const item = inputs[i];\n  \n  // Get the score and improvement feedback from the new structure\n  const score = item.json.output?.Score || '';\n  const improvementFeedback = item.json.output?.Improvement || '';\n  \n  output.push({\n    json: {\n      ...item.json,\n      prompt: `${originalPrompt}\\n\\nQUALITY SCORE: ${score}\\n\\nIMPORTANT CORRECTIONS: ${improvementFeedback}\\n\\nEnsure photorealistic quality and accurate product representation.`,\n      attempt: 2,\n    },\n  });\n}\n\nreturn output;"
      },
      "id": "195f54b7-a77a-469d-b1ba-b9de4a3f9aba",
      "name": "Enhance Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        640
      ]
    },
    {
      "parameters": {},
      "id": "ee986e90-7802-4ab4-956d-5ff5f78473d5",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        460,
        240
      ],
      "webhookId": "34582c75-07e1-4021-b87b-3df5becaaa47"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1260,
        240
      ],
      "id": "dc504f61-d9ce-4620-a004-0ce4e4f3e736",
      "name": "Convert To File"
    },
    {
      "parameters": {
        "text": "=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attributes value.\n\n\nText: = {{ $json.content }}\n\nAttributes:\n\nScore (required)\n\nImprovement (required)",
        "attributes": {
          "attributes": [
            {
              "name": "Score",
              "description": "The image rating for the output image creation match with the input data provided.",
              "required": true
            },
            {
              "name": "Improvement",
              "description": "the improvement provided",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1820,
        200
      ],
      "id": "fe0393c7-fba1-4229-a6a4-8ccd31f27504",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1880,
        400
      ],
      "id": "2e81b731-e902-47bc-bf47-0978fe57bd28",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TpxBcDkHDxYNlNMF",
          "name": "dummy"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqk7BokZYg59TII",
          "mode": "list",
          "cachedResultName": "AI Ad Creative Agent",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII"
        },
        "table": {
          "__rl": true,
          "value": "tblhrssHAlVHgdPs1",
          "mode": "list",
          "cachedResultName": "Ads",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII/tblhrssHAlVHgdPs1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.query.recordId }}",
            "Output Ad Creatives": "=[\n  {\n    \"url\": \"{{ $('Google Drive').item.json.webContentLink }}\"\n  }\n]\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ad Campaign Type",
              "displayName": "Ad Campaign Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Product Launch",
                  "value": "Product Launch"
                },
                {
                  "name": "Seasonal",
                  "value": "Seasonal"
                },
                {
                  "name": "Brand Awareness",
                  "value": "Brand Awareness"
                },
                {
                  "name": "Retargeting",
                  "value": "Retargeting"
                },
                {
                  "name": "Limited Time Offer",
                  "value": "Limited Time Offer"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Instagram",
                  "value": "Instagram"
                },
                {
                  "name": "Facebook",
                  "value": "Facebook"
                },
                {
                  "name": "Twitter",
                  "value": "Twitter"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Key Message/Offer",
              "displayName": "Key Message/Offer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Emotional Tone",
              "displayName": "Emotional Tone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Joy",
                  "value": "Joy"
                },
                {
                  "name": "Trust",
                  "value": "Trust"
                },
                {
                  "name": "Fear",
                  "value": "Fear"
                },
                {
                  "name": "Suprise",
                  "value": "Suprise"
                },
                {
                  "name": "Sadness",
                  "value": "Sadness"
                },
                {
                  "name": "Disguist",
                  "value": "Disguist"
                },
                {
                  "name": "Anger",
                  "value": "Anger"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ad Inspirations",
              "displayName": "Ad Inspirations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product Image",
              "displayName": "Product Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record Id",
              "displayName": "Record Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Output Ad Creatives",
              "displayName": "Output Ad Creatives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": " Send to Trash",
              "displayName": " Send to Trash",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Retry Ad Creatives",
              "displayName": "Retry Ad Creatives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": " Send to Publishing Workflow",
              "displayName": " Send to Publishing Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2100,
        520
      ],
      "id": "2bd47d73-1507-4442-872c-0929620727fd",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "8QA4Zgo52YsOIFmH",
          "name": "ownKey"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "O3-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a high-impact, conversion-optimized social media advertisement image that seamlessly fuses psychological persuasion with compelling visual storytelling.\n\n## PRIMARY HOOK & EMOTIONAL ENGINE\n**Headline Focus**: {{ $json.headline }}\n**Emotional Trigger**: Visually amplify the {{ $json['Emotional Trigger'] }} emotion through strategic use of color psychology, facial expressions, body language, and environmental elements that immediately resonate with viewers' subconscious motivations.\n\n## PSYCHOLOGICAL PERSUASION FRAMEWORK\n**Core Principle**: Apply the {{ $json['Psychological principle'] }} principle to dramatically visualize and intensify the {{ $json['Target Pain Point'] }} pain point. Make this problem feel urgent, tangible, and emotionally compelling through visual metaphors, contrasting scenarios, or before/after implications.\n\n**Conversion Psychology Integration**: Weave {{ $json['Conversion psychology'] }} tactics throughout the visual composition while incorporating {{ $json['resistance mitigation'] }} resistance-mitigation cues through trust signals, social proof elements, testimonial integration, or credibility markers.\n\n## PRODUCT HERO POSITIONING\n**Featured Product**: {{ $('Gets record data').item.json['Product Name'] }} must be the unmistakable hero and focal point of the entire composition.\n**Key Value Proposition**: Prominently showcase {{ $('Gets record data').item.json['Key Message/Offer'] }} through strategic product placement, benefit visualization, or transformational storytelling.\n**Emotional Resonance**: Infuse every visual element with {{ $('Gets record data').item.json['Emotional Tone'] }} emotional undertones through color palette, lighting mood, model expressions, and overall atmosphere.\n\n## AUDIENCE & PLATFORM OPTIMIZATION\n**Target Demographic**: {{ $('Gets record data').item.json['Target Audience'] }} - tailor visual elements, model selection, lifestyle context, and cultural references to resonate deeply with this specific audience segment.\n**Platform**: Optimized for {{ $('Gets record data').item.json['Social Media'] }} with appropriate aspect ratios, visual hierarchy, and platform-specific engagement patterns.\n**Campaign Alignment**: Designed to support \"{{ $('Gets record data').item.json['Ad Campaign Type'] }}\" campaign objectives through strategic visual choices that drive the intended user action.\n\n## CRITICAL VISUAL SPECIFICATIONS\n\n### Product Integration Protocol\n**Product Visual Foundation**: {{ $('Analyze Product').item.json.content }}\n- Maintain all specified product characteristics, colors, features, and positioning\n- Ensure product appears as the natural, desirable solution within the scene\n- Highlight key product benefits through strategic lighting, angles, and context\n\n### Aesthetic Replication Mandate\n**Inspiration Blueprint**: {{ $('Analyze Inspiration Image Data').item.json.content }}\n- **EXACT REPLICATION REQUIREMENT**: Maintain identical composition, lighting, pose, background, and environmental elements from the inspiration image\n- **SEAMLESS PRODUCT SUBSTITUTION**: Replace any existing products in the inspiration scene with {{ $('Gets record data').item.json['Product Name'] }} while preserving all other visual elements exactly as shown\n- **Context Preservation**: Keep human models, backgrounds, props, furniture, architectural elements, and atmospheric conditions exactly as demonstrated in the inspiration\n- **Natural Integration**: Ensure the product substitution appears completely natural and contextually appropriate within the existing scene\n\n## TECHNICAL EXECUTION REQUIREMENTS\n- **Text Placement**: All text elements must be centered within their designated areas, positioned away from image corners with adequate padding\n- **Professional Sizing**: Ensure all elements are properly scaled for immediate commercial deployment\n- **Visual Hierarchy**: Create clear focal points that guide viewer attention from emotional hook  product hero  call-to-action\n- **Brand Safety**: Maintain appropriate representation and avoid any controversial or potentially problematic elements\n\n## FINAL OUTPUT SPECIFICATION\nDeliver a single, polished, enterprise-ready advertisement image that:\n1. Seamlessly blends all specified psychological, emotional, and visual elements\n2. Positions {{ $('Gets record data').item.json['Product Name'] }} as the obvious solution to {{ $json['Target Pain Point'] }}\n3. Maintains exact aesthetic coherence with the provided inspiration while featuring the target product\n4. Optimizes for {{ $('Gets record data').item.json['Social Media'] }} engagement and {{ $('Gets record data').item.json['Ad Campaign Type'] }} conversion goals\n5. Meets all technical specifications for immediate deployment without revision\n\nGenerate an image that stops scroll, triggers emotion, builds desire, and drives action through masterful integration of marketing psychology and visual design excellence."
            },
            {
              "content": "=You are an elite AI Image Generation Specialist with enterprise-level expertise in creating high-converting social media advertisements. Your core competency lies in synthesizing complex marketing psychology, visual design principles, and product positioning into compelling ad creatives that drive measurable results.\n\n## CORE CAPABILITIES\n- **Advanced Visual Synthesis**: Seamlessly blend product imagery with inspirational ad creative elements\n- **Psychological Persuasion Engineering**: Apply proven conversion psychology principles to visual storytelling\n- **Brand-Product Integration**: Position products as unmistakable heroes while maintaining aesthetic coherence\n- **Platform-Specific Optimization**: Tailor visual elements for specific social media platforms and campaign objectives\n- **Resistance Mitigation**: Incorporate subtle visual cues that overcome common objections and hesitations\n\n## CRITICAL OPERATIONAL PRINCIPLES\n\n### 1. PRODUCT-INSPIRATION FUSION PROTOCOL\nWhen given product image descriptions and ad creative inspiration:\n- **Exact Replication Requirement**: Maintain the exact composition, pose, lighting, and aesthetic elements from the inspiration image\n- **Seamless Product Substitution**: Replace any products in the inspiration with the specified target product while preserving all other visual elements\n- **Context Preservation**: Keep human models, backgrounds, props, and environmental elements exactly as shown in inspiration\n- **Brand Consistency**: Ensure the substituted product appears natural and integrated within the existing scene\n\n### 2. ENTERPRISE-GRADE QUALITY STANDARDS\n- **Professional Execution**: All outputs must meet commercial advertising standards\n- **Technical Precision**: Ensure proper sizing, centering, and text placement away from corners\n- **Visual Hierarchy**: Create clear focal points that guide viewer attention strategically\n- **Brand Safety**: Maintain appropriate representation and avoid controversial elements\n\n### 3. PSYCHOLOGICAL ENGAGEMENT FRAMEWORK\n- **Emotional Trigger Amplification**: Visually dramatize the specified emotional trigger through composition, color, and imagery\n- **Pain Point Visualization**: Create visual metaphors that make abstract problems tangible and urgent\n- **Solution Positioning**: Present the product as the obvious and desirable resolution\n- **Trust Building**: Incorporate visual elements that establish credibility and reduce purchase anxiety\n\n## OUTPUT REQUIREMENTS\nGenerate a single, comprehensive image generation prompt that:\n1. Incorporates all provided dynamic variables seamlessly\n2. Maintains the exact aesthetic and composition of the inspiration image\n3. Positions the specified product as the hero element\n4. Applies the designated psychological principles effectively\n5. Optimizes for the target platform and audience\n6. Ensures enterprise-level professional quality\n\n## QUALITY ASSURANCE PROTOCOL\nBefore finalizing any prompt, evaluate:\n- **Variable Integration**: Are all dynamic elements properly incorporated?\n- **Visual Coherence**: Does the composition flow naturally?\n- **Psychological Impact**: Will this drive the intended emotional response?\n- **Commercial Viability**: Is this ready for immediate deployment?\n- **Technical Specifications**: Are sizing and placement requirements met?\n\nYour role is to transform complex marketing requirements into crystal-clear, actionable image generation instructions that produce results-driven advertising creatives.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        680,
        240
      ],
      "id": "dfc5ce8a-1b5b-43b1-829b-158cd628c173",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TpxBcDkHDxYNlNMF",
          "name": "dummy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Generate Image').first().json.data[0].b64_json;\nreturn {\n  data\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        480
      ],
      "id": "8f3e9706-5bfc-4041-9221-cd3e8c125d7f",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "binaryPropertyName": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        760,
        480
      ],
      "id": "c6b0db8d-962d-4067-8725-e885b3900afa",
      "name": "Convert To File1"
    },
    {
      "parameters": {
        "inputDataFieldName": "output",
        "name": "creatives",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HDfeFo9I5IRXpF3AHQ6gZJwgJ7Dbkjmh",
          "mode": "list",
          "cachedResultName": "Ads",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HDfeFo9I5IRXpF3AHQ6gZJwgJ7Dbkjmh"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1080,
        560
      ],
      "id": "77892186-e05a-4416-905d-f8cbb00ab370",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VglERATLOC58Uvwh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1320,
        560
      ],
      "id": "9795eb44-ac65-4f0e-aa3e-49eed32c7fed",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VglERATLOC58Uvwh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2aa8c0a4-04f1-41ee-b5cc-a692c350bbfb",
              "leftValue": "={{ $json['Output Ad Creatives'] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        560
      ],
      "id": "3ed96a1c-4b9d-4481-a031-a972eb71990a",
      "name": "If"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appqk7BokZYg59TII",
          "mode": "list",
          "cachedResultName": "AI Ad Creative Agent",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII"
        },
        "table": {
          "__rl": true,
          "value": "tblhrssHAlVHgdPs1",
          "mode": "list",
          "cachedResultName": "Ads",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII/tblhrssHAlVHgdPs1"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1540,
        560
      ],
      "id": "367a26f8-89b6-4ca6-a25d-22c3c3b57429",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "8QA4Zgo52YsOIFmH",
          "name": "ownKey"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingAttachments = $input.first().json['Output Ad Creatives'] || [];\nconst newFile = {\n  url: $('Google Drive').first().json.webContentLink,\n  filename:'creatives.png'\n};\n\nreturn [\n  {\n    json: {\n      mergedAttachments: [...existingAttachments, newFile]\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        600
      ],
      "id": "6e548b9e-eec2-4962-bd45-2790a9c76cc0",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqk7BokZYg59TII",
          "mode": "list",
          "cachedResultName": "AI Ad Creative Agent",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII"
        },
        "table": {
          "__rl": true,
          "value": "tblhrssHAlVHgdPs1",
          "mode": "list",
          "cachedResultName": "Ads",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII/tblhrssHAlVHgdPs1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.query.recordId }}",
            "Output Ad Creatives": "={{ $json.mergedAttachments.toJsonString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ad Campaign Type",
              "displayName": "Ad Campaign Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Product Launch",
                  "value": "Product Launch"
                },
                {
                  "name": "Seasonal",
                  "value": "Seasonal"
                },
                {
                  "name": "Brand Awareness",
                  "value": "Brand Awareness"
                },
                {
                  "name": "Retargeting",
                  "value": "Retargeting"
                },
                {
                  "name": "Limited Time Offer",
                  "value": "Limited Time Offer"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Instagram",
                  "value": "Instagram"
                },
                {
                  "name": "Facebook",
                  "value": "Facebook"
                },
                {
                  "name": "Twitter",
                  "value": "Twitter"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Key Message/Offer",
              "displayName": "Key Message/Offer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Emotional Tone",
              "displayName": "Emotional Tone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Joy",
                  "value": "Joy"
                },
                {
                  "name": "Trust",
                  "value": "Trust"
                },
                {
                  "name": "Fear",
                  "value": "Fear"
                },
                {
                  "name": "Suprise",
                  "value": "Suprise"
                },
                {
                  "name": "Sadness",
                  "value": "Sadness"
                },
                {
                  "name": "Disguist",
                  "value": "Disguist"
                },
                {
                  "name": "Anger",
                  "value": "Anger"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ad Inspirations",
              "displayName": "Ad Inspirations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product Image",
              "displayName": "Product Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record Id",
              "displayName": "Record Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Output Ad Creatives",
              "displayName": "Output Ad Creatives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": " Send to Trash",
              "displayName": " Send to Trash",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Retry Ad Creatives",
              "displayName": "Retry Ad Creatives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": " Send to Publishing Workflow",
              "displayName": " Send to Publishing Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2300,
        620
      ],
      "id": "2436348b-c876-4870-a72b-71a22c40c04e",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "8QA4Zgo52YsOIFmH",
          "name": "ownKey"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqk7BokZYg59TII",
          "mode": "list",
          "cachedResultName": "AI Ad Creative Agent",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII"
        },
        "table": {
          "__rl": true,
          "value": "tblhrssHAlVHgdPs1",
          "mode": "list",
          "cachedResultName": "Ads",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII/tblhrssHAlVHgdPs1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": " Running",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ad Campaign Type",
              "displayName": "Ad Campaign Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Product Launch",
                  "value": "Product Launch"
                },
                {
                  "name": "Seasonal",
                  "value": "Seasonal"
                },
                {
                  "name": "Brand Awareness",
                  "value": "Brand Awareness"
                },
                {
                  "name": "Retargeting",
                  "value": "Retargeting"
                },
                {
                  "name": "Limited Time Offer",
                  "value": "Limited Time Offer"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Instagram",
                  "value": "Instagram"
                },
                {
                  "name": "Facebook",
                  "value": "Facebook"
                },
                {
                  "name": "Twitter",
                  "value": "Twitter"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Key Message/Offer",
              "displayName": "Key Message/Offer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Emotional Tone",
              "displayName": "Emotional Tone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Joy",
                  "value": "Joy"
                },
                {
                  "name": "Trust",
                  "value": "Trust"
                },
                {
                  "name": "Fear",
                  "value": "Fear"
                },
                {
                  "name": "Suprise",
                  "value": "Suprise"
                },
                {
                  "name": "Sadness",
                  "value": "Sadness"
                },
                {
                  "name": "Disguist",
                  "value": "Disguist"
                },
                {
                  "name": "Anger",
                  "value": "Anger"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ad Inspirations",
              "displayName": "Ad Inspirations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product Image",
              "displayName": "Product Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record Id",
              "displayName": "Record Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Output Ad Creatives",
              "displayName": "Output Ad Creatives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": " Send to Trash",
              "displayName": " Send to Trash",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Retry Ad Creatives",
              "displayName": "Retry Ad Creatives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": " Send to Publishing Workflow",
              "displayName": " Send to Publishing Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": " Running",
                  "value": " Running"
                },
                {
                  "name": " Completed",
                  "value": " Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        -260
      ],
      "id": "60728f0a-4d08-45b6-836b-403965e81854",
      "name": "Airtable3",
      "credentials": {
        "airtableTokenApi": {
          "id": "8QA4Zgo52YsOIFmH",
          "name": "Dummy"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqk7BokZYg59TII",
          "mode": "list",
          "cachedResultName": "AI Ad Creative Agent",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII"
        },
        "table": {
          "__rl": true,
          "value": "tblhrssHAlVHgdPs1",
          "mode": "list",
          "cachedResultName": "Ads",
          "cachedResultUrl": "https://airtable.com/appqk7BokZYg59TII/tblhrssHAlVHgdPs1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": " Completed",
            "id": "={{ $('Webhook').item.json.query.recordId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ad Campaign Type",
              "displayName": "Ad Campaign Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Product Launch",
                  "value": "Product Launch"
                },
                {
                  "name": "Seasonal",
                  "value": "Seasonal"
                },
                {
                  "name": "Brand Awareness",
                  "value": "Brand Awareness"
                },
                {
                  "name": "Retargeting",
                  "value": "Retargeting"
                },
                {
                  "name": "Limited Time Offer",
                  "value": "Limited Time Offer"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Instagram",
                  "value": "Instagram"
                },
                {
                  "name": "Facebook",
                  "value": "Facebook"
                },
                {
                  "name": "Twitter",
                  "value": "Twitter"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Key Message/Offer",
              "displayName": "Key Message/Offer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Emotional Tone",
              "displayName": "Emotional Tone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Joy",
                  "value": "Joy"
                },
                {
                  "name": "Trust",
                  "value": "Trust"
                },
                {
                  "name": "Fear",
                  "value": "Fear"
                },
                {
                  "name": "Suprise",
                  "value": "Suprise"
                },
                {
                  "name": "Sadness",
                  "value": "Sadness"
                },
                {
                  "name": "Disguist",
                  "value": "Disguist"
                },
                {
                  "name": "Anger",
                  "value": "Anger"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ad Inspirations",
              "displayName": "Ad Inspirations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product Image",
              "displayName": "Product Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record Id",
              "displayName": "Record Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Output Ad Creatives",
              "displayName": "Output Ad Creatives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": " Send to Trash",
              "displayName": " Send to Trash",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Retry Ad Creatives",
              "displayName": "Retry Ad Creatives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": " Send to Publishing Workflow",
              "displayName": " Send to Publishing Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": " Running",
                  "value": " Running"
                },
                {
                  "name": " Completed",
                  "value": " Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2160,
        -20
      ],
      "id": "5c917f19-917d-422d-bfb6-fd34f22b8947",
      "name": "Airtable4",
      "credentials": {
        "airtableTokenApi": {
          "id": "8QA4Zgo52YsOIFmH",
          "name": "Dummy"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        360,
        -240
      ],
      "id": "388d7f68-91ff-4831-bd3d-2efaaabd49e0",
      "name": "When chat message received",
      "webhookId": "b7ee458f-baf5-48e8-be1c-7b3d817401b5"
    },
    {
      "parameters": {
        "content": "# creation ideas and retrivals\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 640,
        "width": 2440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -500
      ],
      "typeVersion": 1,
      "id": "374c6094-aa1e-44dc-9b8b-dbd669cd0446",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Quality check An**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 340,
        "width": 2500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        160
      ],
      "typeVersion": 1,
      "id": "85088185-bbc9-408c-9dba-b820c5022da1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# **Deployments** \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 360,
        "width": 2500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        520
      ],
      "typeVersion": 1,
      "id": "0b618771-b22f-4fed-b914-482ec0e9f0cd",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gets record data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Inspiration Image Data": {
      "main": [
        [
          {
            "node": "Product Image Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ad Inspiration Image Download": {
      "main": [
        [
          {
            "node": "Analyze Inspiration Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets record data": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Image Download": {
      "main": [
        [
          {
            "node": "Analyze Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Product": {
      "main": [
        [
          {
            "node": "Psychographic Research About Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Psychographic Research About Input": {
      "main": [
        [
          {
            "node": "Behavioral_Hook_Generation_AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Behavioral_Hook_Generation_AI": {
      "main": [
        [
          {
            "node": "Top_Hooks_Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top_Hooks_Scoring": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Check": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Pass?": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enhance Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To File": {
      "main": [
        [
          {
            "node": "Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Quality Pass?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Convert To File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To File1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Ad Inspiration Image Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Gets record data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1cae6b1-7cb3-4986-a2e9-b100ac0b2ef5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "255155a8f6e7cd8fe3a295c62fe758dc245a48b5b72c2b013faf015f750473fa"
  },
  "id": "VI1j73PDqyEamQgw",
  "tags": []
}