finding_lead_sanitized.json
{
  "name": "finding lead",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Machine",
        "formDescription": "Provide the Info Below",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business Type",
              "placeholder": "e.g. Plumber",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "placeholder": "e.g. Rome, Italy",
              "requiredField": true
            },
            {
              "fieldLabel": "Lead Number",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Friendly"
                  },
                  {
                    "option": "Professional"
                  },
                  {
                    "option": "Simple"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "GO 🚀"
        }
      },
      "id": "74592094-0973-444f-91d8-364fc4db445e",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -2020,
        100
      ],
      "webhookId": "2ef0c938-f117-4f6c-840a-b2dc35a615b3",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.Location }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Lead Number'] }},\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $json['Business Type'] }}\"\n    ],\n    \"skipClosedPlaces\": false\n}",
        "options": {}
      },
      "id": "33442ba7-47a6-4126-9823-2a5c88eca8d8",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1780,
        100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# Business Data",
        "height": 336,
        "width": 752,
        "color": 3
      },
      "id": "a0f709b1-57a6-4286-a4aa-7e9c69c25f73",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4786cff8-eeb6-40e7-a005-7ce17518ddd5",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -3820,
        240
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "id": "a028a97d-7bc9-41b0-96b9-f28c3fa20d95",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -2180,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "vBl9WpwRinsmtEcr",
          "name": "google gemini (stu_acc)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0906e21a-0958-433e-b400-8694915ef3c9",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "10f1a17c-3327-4567-a55e-42127a21571e",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1520,
        100
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit?usp=drivesdk",
          "cachedResultName": "n8n Test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Address": "={{ $('Filter').item.json.address }}",
            "Website": "={{ $('Filter').item.json.website }}",
            "Category": "={{ $('Filter').item.json.categoryName }}",
            "Email Address": "={{ $json.output['Email Address'] }}",
            "Phone Nummber": "={{ $('Filter').item.json.phoneUnformatted }}",
            "Company Name": "={{ $('Filter').item.json.title}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Nummber",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone Nummber",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Cold Mail Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Cold Mail Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "SEND Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6fc04f4d-1848-4ce2-9bc3-00fddf64061d",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1420,
        380
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LHCgNb2yIPV1Y4H8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0601f2d2-2522-471e-9e11-29498a47e19a",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output['Email Address'] }}",
              "rightValue": "@"
            }
          ]
        },
        "options": {}
      },
      "id": "4651ab34-c1bb-4620-be73-21f5c9166a2d",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -1720,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "28b802a6-c7a5-4963-9fef-f4c113a453ca",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -1300,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Getting the Email Address",
        "height": 368,
        "width": 1136,
        "color": 4
      },
      "id": "4c48ab18-c815-4658-9747-6ec4a4c8018a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2260,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "={{ $('Information Extractor1').item.json.output['Mail Subject'] }}",
        "emailType": "text",
        "message": "={{ $('Information Extractor1').item.json.output['Mail Body'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "82a69f04-14f1-422b-8535-cc223a8ab5d1",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "maxTries": 2,
      "position": [
        -880,
        700
      ],
      "webhookId": "9ce15ceb-1aeb-4dd7-b269-f981f431c05f",
      "executeOnce": false,
      "retryOnFail": false,
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "A6BEProUG4beK2Do",
          "name": "Gmail account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "cf46184c-cc4a-4eb9-8410-17b6b2b8ebe2",
      "name": "Information Extractor1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -3840,
        100
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SPiGlGV_jnFMHjaKCnat3TMGZ8m-qcxKl9R3Y-lHbIE",
          "mode": "list",
          "cachedResultName": "n8n Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SPiGlGV_jnFMHjaKCnat3TMGZ8m-qcxKl9R3Y-lHbIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "SEND Time": "={{ $('Edit Fields1').item.json['Send Time'] }}",
            "Email Address": "={{ $('Edit Fields1').item.json['Email Address'] }}",
            "Cold Mail Status": "✅"
          },
          "schema": [
            {
              "id": "Company Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Nummber",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone Nummber",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Email Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Cold Mail Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Cold Mail Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "SEND Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Email Address"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e3a086c2-2c55-43fe-b8c8-f7aa4cb88e61",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -640,
        820
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LHCgNb2yIPV1Y4H8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Sending EMAIL",
        "height": 448,
        "width": 2096,
        "color": 5
      },
      "id": "513a43b4-775c-4a05-8359-61eb1e2b27e2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ab73a5e-6659-4615-9f03-a1b3dacaa42e",
              "name": "Send Time",
              "type": "string",
              "value": "={{$now.toFormat(\"MM-dd-yyyy (h:mm a)\")}}"
            },
            {
              "id": "a102af99-f990-4f54-aa19-96a4c8002a9b",
              "name": "Email Address",
              "type": "string",
              "value": "={{ $('Wait').item.json['Email Address'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "80e2c1b3-a21c-4890-abfe-9dab5c8507de",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        -1180,
        820
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fe57c998-d888-4416-b5e4-b9f5580ad0cf",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -2480,
        800
      ],
      "notesInFlow": false,
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "3fd7d4f8-f65f-45c3-8ec2-50ecd3198780",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -2100,
        820
      ],
      "webhookId": "a8a457d5-f88d-451c-ac51-1af17c8435b0",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "text": "=website:{{ $json.website }}",
        "attributes": {
          "attributes": [
            {
              "name": "Email Address",
              "description": "find out hte only one email addresss form the the website. the mail address have to be in ideal format. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        -2080,
        400
      ],
      "id": "cce1f992-d555-4995-88de-23e098cffbdb",
      "name": "Information Extractor2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        -1840,
        820
      ],
      "id": "09714feb-dc5b-4973-906c-10f9bba5cf15",
      "name": "Information Extractor3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1860,
        1020
      ],
      "id": "602b4bd8-9137-48b9-9421-c18289baaac8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "vBl9WpwRinsmtEcr",
          "name": "google gemini (stu_acc)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1300,
        100
      ],
      "id": "7b35beff-d264-4931-b211-7dd1eea144a3",
      "name": "Loop Over Items1"
    }
  ],
  "pinData": {
    "Filter": [
      {
        "json": {
          "title": "Matrix Fitness Club",
          "description": "Contemporary gym offering strength & cardio equipment, plus fitness classes & a juice bar.",
          "price": null,
          "categoryName": "Gym",
          "address": "43-60 Ditmars Blvd, Astoria, NY 11105",
          "neighborhood": "Astoria",
          "street": "43-60 Ditmars Blvd",
          "city": "Astoria",
          "postalCode": "11105",
          "state": "New York",
          "countryCode": "US",
          "website": "https://www.matrixfitnessclub.com/members",
          "phone": "(718) 267-8989",
          "phoneUnformatted": "+17182678989",
          "claimThisBusiness": false,
          "location": {
            "lat": 40.7707098,
            "lng": -73.9040332
          },
          "totalScore": 4.6,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJ57Qzu15fwokRIZhFEPgpN4U",
          "categories": [
            "Gym",
            "Fitness center",
            "Free parking lot",
            "Massage therapist",
            "Personal trainer",
            "Physical fitness program",
            "Sauna",
            "Weight loss service",
            "Yoga instructor",
            "Yoga studio"
          ],
          "fid": "0x89c25f5ebb33b4e7:0x853729f810459821",
          "cid": "9599187276165126177",
          "reviewsCount": 565,
          "imagesCount": 131,
          "imageCategories": [],
          "scrapedAt": "2025-08-20T14:19:52.264Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "6 AM to 10 PM"
            },
            {
              "day": "Tuesday",
              "hours": "6 AM to 10 PM"
            },
            {
              "day": "Wednesday",
              "hours": "6 AM to 10 PM"
            },
            {
              "day": "Thursday",
              "hours": "6 AM to 10 PM"
            },
            {
              "day": "Friday",
              "hours": "6 AM to 10 PM"
            },
            {
              "day": "Saturday",
              "hours": "8 AM to 7 PM"
            },
            {
              "day": "Sunday",
              "hours": "8 AM to 7 PM"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "Service options": [
              {
                "Onsite services": true
              },
              {
                "Online classes": false
              }
            ],
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible parking lot": true
              },
              {
                "Wheelchair accessible restroom": true
              }
            ],
            "Offerings": [
              {
                "Sauna": true
              }
            ],
            "Amenities": [
              {
                "Restroom": true
              },
              {
                "Wi-Fi": true
              },
              {
                "Free Wi-Fi": true
              },
              {
                "Restaurant": false
              }
            ],
            "Atmosphere": [
              {
                "Shower": true
              }
            ],
            "Crowd": [
              {
                "LGBTQ+ friendly": true
              }
            ],
            "Planning": [
              {
                "Appointment required": true
              },
              {
                "Membership required": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              },
              {
                "Credit cards": true
              }
            ],
            "Parking": [
              {
                "Free parking garage": true
              },
              {
                "Free parking lot": true
              },
              {
                "Free street parking": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=Matrix%20Fitness%20Club&query_place_id=ChIJ57Qzu15fwokRIZhFEPgpN4U",
          "searchPageUrl": "https://www.google.com/maps/search/GYM/@40.80099311231582,-73.84296222367298,13z?hl=en",
          "searchString": "GYM",
          "language": "en",
          "rank": 1,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/p/AF1QipPPMf2D2Q3JwsPdl0r-qDXM7W-yI7f5KqzsqUKG=w408-h272-k-no",
          "kgmid": "/g/1vg6vnl6"
        }
      },
      {
        "json": {
          "title": "Powerhouse Gym Bayside",
          "price": null,
          "categoryName": "Gym",
          "address": "34-09 Francis Lewis Blvd, Flushing, NY 11358",
          "neighborhood": "Flushing",
          "street": "34-09 Francis Lewis Blvd",
          "city": "Flushing",
          "postalCode": "11358",
          "state": "New York",
          "countryCode": "US",
          "website": "http://www.powerhousegymbayside.com/",
          "phone": "(718) 539-7118",
          "phoneUnformatted": "+17185397118",
          "claimThisBusiness": false,
          "location": {
            "lat": 40.7659714,
            "lng": -73.7890264
          },
          "totalScore": 4.3,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJ3SI24dVhwokREuym9p3_CjE",
          "categories": [
            "Gym",
            "Fitness center",
            "Physical fitness program"
          ],
          "fid": "0x89c261d5e13622dd:0x310aff9df6a6ec12",
          "cid": "3533917911538658322",
          "reviewsCount": 251,
          "imagesCount": 63,
          "imageCategories": [],
          "scrapedAt": "2025-08-20T14:19:52.265Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "5 AM to 10 PM"
            },
            {
              "day": "Tuesday",
              "hours": "5 AM to 10 PM"
            },
            {
              "day": "Wednesday",
              "hours": "5 AM to 10 PM"
            },
            {
              "day": "Thursday",
              "hours": "5 AM to 10 PM"
            },
            {
              "day": "Friday",
              "hours": "5 AM to 10 PM"
            },
            {
              "day": "Saturday",
              "hours": "7 AM to 9 PM"
            },
            {
              "day": "Sunday",
              "hours": "7 AM to 9 PM"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "Service options": [
              {
                "Onsite services": true
              }
            ],
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible parking lot": false
              }
            ],
            "Amenities": [
              {
                "Restroom": true
              }
            ],
            "Atmosphere": [
              {
                "Shower": true
              }
            ],
            "Planning": [
              {
                "Membership required": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              },
              {
                "Credit cards": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=Powerhouse%20Gym%20Bayside&query_place_id=ChIJ3SI24dVhwokREuym9p3_CjE",
          "searchPageUrl": "https://www.google.com/maps/search/GYM/@40.80099311231582,-73.84296222367298,13z?hl=en",
          "searchString": "GYM",
          "language": "en",
          "rank": 3,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/p/AF1QipMA35IEhYvZB14c3rezGkKUBwXULtgxem4V0iXM=w408-h272-k-no",
          "kgmid": "/g/1tdxwyr6"
        }
      },
      {
        "json": {
          "title": "Blink Fitness Parkchester",
          "price": null,
          "categoryName": "Gym",
          "address": "1380 Metropolitan Ave, Bronx, NY 10462",
          "neighborhood": "East Bronx",
          "street": "1380 Metropolitan Ave",
          "city": "Bronx",
          "postalCode": "10462",
          "state": "New York",
          "countryCode": "US",
          "website": "https://locations.blinkfitness.com/ny/bronx/1380-metropolitan-avenue?utm_source=YextGMB&utm_medium=organic&utm_campaign=SEO&utm_content=Parkchester",
          "phone": "(347) 640-5111",
          "phoneUnformatted": "+13476405111",
          "claimThisBusiness": false,
          "location": {
            "lat": 40.8353881,
            "lng": -73.8603744
          },
          "totalScore": 3.7,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJT_XUvsD0wokR3XN2pzlv1gc",
          "categories": [
            "Gym",
            "Fitness center"
          ],
          "fid": "0x89c2f4c0bed4f54f:0x7d66f39a77673dd",
          "cid": "564761096694952925",
          "reviewsCount": 563,
          "imagesCount": 119,
          "imageCategories": [],
          "scrapedAt": "2025-08-20T14:19:52.265Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "5 AM to 11 PM"
            },
            {
              "day": "Tuesday",
              "hours": "5 AM to 11 PM"
            },
            {
              "day": "Wednesday",
              "hours": "5 AM to 11 PM"
            },
            {
              "day": "Thursday",
              "hours": "5 AM to 11 PM"
            },
            {
              "day": "Friday",
              "hours": "5 AM to 10 PM"
            },
            {
              "day": "Saturday",
              "hours": "7 AM to 7 PM"
            },
            {
              "day": "Sunday",
              "hours": "7 AM to 7 PM"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "Service options": [
              {
                "Onsite services": true
              },
              {
                "Online classes": false
              }
            ],
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible restroom": true
              },
              {
                "Wheelchair accessible seating": true
              },
              {
                "Assistive hearing loop": false
              },
              {
                "Wheelchair accessible parking lot": false
              }
            ],
            "Amenities": [
              {
                "Restroom": true
              },
              {
                "Wi-Fi": true
              },
              {
                "Free Wi-Fi": true
              }
            ],
            "Atmosphere": [
              {
                "Shower": true
              }
            ],
            "Crowd": [
              {
                "LGBTQ+ friendly": true
              },
              {
                "Transgender safespace": true
              }
            ],
            "Planning": [
              {
                "Membership required": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              },
              {
                "Credit cards": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=Blink%20Fitness%20Parkchester&query_place_id=ChIJT_XUvsD0wokR3XN2pzlv1gc",
          "searchPageUrl": "https://www.google.com/maps/search/GYM/@40.80099311231582,-73.84296222367298,13z?hl=en",
          "searchString": "GYM",
          "language": "en",
          "rank": 4,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/p/AF1QipMWYlXZeWVu0WMKH9t4mHjHr4Ab9viXbbmZuc-e=w408-h272-k-no",
          "kgmid": "/g/1261zb5rp"
        }
      },
      {
        "json": {
          "title": "LA Fitness",
          "price": null,
          "categoryName": "Gym",
          "address": "1776 Eastchester Rd, Bronx, NY 10461",
          "neighborhood": "East Bronx",
          "street": "1776 Eastchester Rd",
          "city": "Bronx",
          "postalCode": "10461",
          "state": "New York",
          "countryCode": "US",
          "website": "https://www.lafitness.com/Pages/clubhome.aspx?clubid=932&utm_source=google&utm_medium=googlemaps&utm_campaign=maps",
          "phone": "(917) 634-5609",
          "phoneUnformatted": "+19176345609",
          "claimThisBusiness": false,
          "location": {
            "lat": 40.8498704,
            "lng": -73.8417904
          },
          "totalScore": 4.6,
          "permanentlyClosed": false,
          "temporarilyClosed": false,
          "placeId": "ChIJ87nFRav0wokRo6TsMaj0igI",
          "categories": [
            "Gym"
          ],
          "fid": "0x89c2f4ab45c5b9f3:0x28af4a831eca4a3",
          "cid": "183227738091201699",
          "reviewsCount": 3887,
          "imagesCount": 3182,
          "imageCategories": [],
          "scrapedAt": "2025-08-20T14:19:52.266Z",
          "googleFoodUrl": null,
          "hotelAds": [],
          "openingHours": [
            {
              "day": "Monday",
              "hours": "5 AM to 11 PM"
            },
            {
              "day": "Tuesday",
              "hours": "5 AM to 11 PM"
            },
            {
              "day": "Wednesday",
              "hours": "5 AM to 11 PM"
            },
            {
              "day": "Thursday",
              "hours": "5 AM to 11 PM"
            },
            {
              "day": "Friday",
              "hours": "5 AM to 10 PM"
            },
            {
              "day": "Saturday",
              "hours": "7 AM to 7 PM"
            },
            {
              "day": "Sunday",
              "hours": "7 AM to 7 PM"
            }
          ],
          "peopleAlsoSearch": [],
          "placesTags": [],
          "reviewsTags": [],
          "additionalInfo": {
            "Service options": [
              {
                "Onsite services": true
              }
            ],
            "Accessibility": [
              {
                "Wheelchair accessible entrance": true
              },
              {
                "Wheelchair accessible parking lot": true
              },
              {
                "Wheelchair accessible restroom": true
              }
            ],
            "Offerings": [
              {
                "Sauna": true
              }
            ],
            "Amenities": [
              {
                "Child care": true
              },
              {
                "Restroom": true
              },
              {
                "Swimming pool": true
              },
              {
                "Wi-Fi": true
              }
            ],
            "Atmosphere": [
              {
                "Shower": true
              }
            ],
            "Planning": [
              {
                "Membership required": true
              }
            ],
            "Payments": [
              {
                "Credit cards": true
              },
              {
                "Debit cards": true
              },
              {
                "NFC mobile payments": true
              }
            ],
            "Parking": [
              {
                "On-site parking": true
              }
            ]
          },
          "gasPrices": [],
          "url": "https://www.google.com/maps/search/?api=1&query=LA%20Fitness&query_place_id=ChIJ87nFRav0wokRo6TsMaj0igI",
          "searchPageUrl": "https://www.google.com/maps/search/GYM/@40.80099311231582,-73.84296222367298,13z?hl=en",
          "searchString": "GYM",
          "language": "en",
          "rank": 5,
          "isAdvertisement": false,
          "imageUrl": "https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrjdH5FwQXhuEZ6nwY67RFhR1FvMTDEgOp6p08yHX5Z2kBY1Yu9SQZJHOjQ2_1ZRyVq6NxzuFjfNsEljAwNF4lYhdpJhANn60ZwemFcF8kXZMzIErax2DpO92PPRae959AUMM20=w408-h306-k-no",
          "kgmid": "/g/12m9mmh4l"
        }
      }
    ]
  },
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Information Extractor3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55aa9d2d-050c-45c4-8437-519ab4d340f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "255155a8f6e7cd8fe3a295c62fe758dc245a48b5b72c2b013faf015f750473fa"
  },
  "id": "7qRb1twrYLmOblMw",
  "tags": []
}
